<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/duhok_img/thingstodoinduhok/backgroundth.jpg');">

  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" > أشياء للقيام بها في دهوك <br><img src="assets/img/line1.png" style="width:200px;"></h1>

</div>




<div class="uk-padding">

  <div><h2 style="text-align: center;">مراكز التسوق<br><img src="assets/img/line1.png" style="width:200px;"></h2></div>


<div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="clsActivated: uk-transition-active; center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img class="img-1" src="assets\img\duhok_img\thingstodoinduhok\familymallduhok.jpg" alt="">
              <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                  <h3 class="uk-margin-remove">Family Mall</h3>
                  <p class="uk-margin-remove">  العراق - دهوك</p>
              </div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img class="img-1" src="assets\img\duhok_img\thingstodoinduhok\duhok_mazi.jpg" alt="Mazi Mall">
              <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                  <h3 class="uk-margin-remove">Mazi Mall</h3>
                  <p class="uk-margin-remove"> العراق - دهوك
                  </p>
              </div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img class="img-1" src="assets\img\duhok_img\thingstodoinduhok\maximall.jpg" alt="Maxi mall" >
              <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                  <h3 class="uk-margin-remove">Maxi Mall</h3>
                  <p class="uk-margin-remove">العراق - دهوك - شارع كي.ار.او
                        
                      </p>
              </div>
          </div>
      </li>
 

      <li class="uk-width-3-4">
            <div class="uk-panel">
                <img class="img-1" src="assets\img\duhok_img\thingstodoinduhok\holandmall.jpg" alt="Maxi mall" >
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove"> Holand Mall</h3>
                    <p class="uk-margin-remove">العراق - دهوك -  شارع اسواق الربيع

                          
                        </p>
                </div>
            </div>
        </li>
  </ul>

  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>


</div>
</div>


<div class="uk-padding">
    <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-grid-match uk-grid-small" uk-grid>

            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\dream city.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove"> دريم ستي </p>
                            </div>
                    </div>
                        
            </div>
            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\azady park.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove"> أزادي بارك</p>
                            </div>
                    </div>
                        
            </div>
            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\Knowledge result.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove"> دير ربان هورمزد</p>
                            </div>
                    </div>
                        
            </div>

            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\duhok zoo.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove"> حديقة دهوك</p>
                            </div>
                    </div>
                        
            </div>
            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\Ciayie Zawa.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove"> جبل زاوا</p>
                            </div>
                    </div>
                        
            </div>
            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\duhok_national_museum.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove"> المتحف الوطني</p>
                            </div>
                    </div>
                        
            </div>
            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\Dohuk Dam.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove"> سد دهوك</p>
                            </div>
                    </div>
                        
            </div>
            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\Qachakh-Cultural-Museum.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove"> متحف قشق للثقافة</p>
                            </div>
                    </div>
                        
            </div>
            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\mazi land.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove"> مازي لاند</p>
                            </div>
                    </div>
                        
            </div>

            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\مسابح مجمع مازي.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove">مسابح مجمع مازي</p>
                            </div>
                    </div>
                        
            </div>

            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\منتجه بارواري.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove">منتجه بارواري</p>
                            </div>
                    </div>
                        
            </div>

            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\المواقع الأثرية في العمادية.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove">المواقع الأثرية في العمادية</p>
                            </div>
                    </div>
                        
            </div>


            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\كهف اينشكي.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove">كهف اينشكي</p>
                            </div>
                    </div>
                        
            </div>

            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\معبد لالش.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove">معبد لالش</p>
                            </div>
                    </div>
                        
            </div>

            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\duhok_img\thingstodoinduhok\جسر دلال.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove">جسر دلال زاخو</p>
                            </div>
                    </div>
                        
            </div>

            <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                        <img src="assets\img\duhok_img\مصايف دهوك\مصيف خالةنة.jpg" alt="" style="width: 100%; height: 100%;">
                        <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                            <p class="uk-h4 uk-margin-remove">مصيف خالةنة ناحية شيلادزى</p>
                        </div>
                </div>
                    
        </div>
    </div>
</div>