<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/resortes erbil/resortes erbil.jpg');">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" > مصايف اربيل  <br><img src="assets/img/line1.png" style="width:200px;"></h1>

</div>


<div class="uk-padding">
        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/shalal ali.jpg" alt=""  uk-cover>
                                <canvas width="600" height="480"></canvas>
                        </div>
                    <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                        <h3 class="uk-card-title">شلالات كلي علي بك</h3>
                        <p>يبعد هذا الشلال حوالي 95 كم عن مدينة أربيل، وتحديدا عند الطريق الممتد بين أربيل و سوران شمالا،  و يتوسط سلسلتي جبال كورك (2115 م) و برادوست (2058 م). أمّا طول الشلال فيزيد عن 12 كم مخترقا مواقع ذات مناظر خلّابة تتخللها شلالات وأنهر صغيرة ، جسور و أماكن سياحية مثل: شلال كلي، كاني ماران، الطريق القديم، التي تقع كلها ضمن الوادي.  تجدر الاشارة الى انه تم بناء بعض المطاعم، الكازينوهات و الجرادخ لأغراض سياحية.</p>
                    </div>
                </div>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/montazh sherswar.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                    <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                        <h3 class="uk-card-title">متنزه شيره سوار</h3>
                        <p>يبعد 42 كم عن مدينة أربيل و يقع على الطريق العـام بين صلاح الدين وشقلاوة. يعتقد بأنّ تسميته جـاءت نسبة إلى شيره سوار: أحد سكان المنطقة في عهــد القـائد صلاح الدين الأيوبي، الذي شـارك في تحرير مــدينة القدس ومنحه القائد صلاح الدين الأيوبي لقـب شيره سوار أي الفارس المقدام، نظـراً لبسالته في زالمعارك. بعد تحرير القدس اتخذ شيره سوار من هذا المكـان مسكنا له لبقية حياته </p>
                    </div>
                </div>
            </div>
</div>







<!-- <div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/shalal ali.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">شلالات كلي علي بك</h3>
            <p>يبعد هذا الشلال حوالي 95 كم عن مدينة أربيل، وتحديدا عند الطريق الممتد بين أربيل و سوران شمالا،  و يتوسط سلسلتي جبال كورك (2115 م) و برادوست (2058 م). أمّا طول الشلال فيزيد عن 12 كم مخترقا مواقع ذات مناظر خلّابة تتخللها شلالات وأنهر صغيرة ، جسور و أماكن سياحية مثل: شلال كلي، كاني ماران، الطريق القديم، التي تقع كلها ضمن الوادي.  تجدر الاشارة الى انه تم بناء بعض المطاعم، الكازينوهات و الجرادخ لأغراض سياحية.</p>
        </div>
    </div>
</div>

</div> -->


<!-- <div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/montazh sherswar.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">متنزه شيره سوار</h3>
            <p>يبعد 42 كم عن مدينة أربيل و يقع على الطريق العـام بين صلاح الدين وشقلاوة. يعتقد بأنّ تسميته جـاءت نسبة إلى شيره سوار: أحد سكان المنطقة في عهــد القـائد صلاح الدين الأيوبي، الذي شـارك في تحرير مــدينة القدس ومنحه القائد صلاح الدين الأيوبي لقـب شيره سوار أي الفارس المقدام، نظـراً لبسالته في المعارك. بعد تحرير القدس اتخذ شيره سوار من هذا المكـان مسكنا له لبقية حياته، ما حوله مع مرور الزمن الى متنزه يزوره المواطنون في العديد من المناسبات.</p>
        </div>
    </div>
</div>

</div> -->

<div class="uk-padding">

<div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
        <div>
                <div class="uk-card-media-left uk-cover-container">
                        <img src="assets/img/resortes erbil/shaqlawa.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                        <canvas width="600" height="480"></canvas>
                </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                        <h3 class="uk-card-title">شقلاوة</h3>
                        <p>تبعد مدينة شقلاوة مسافة 50 كم عن مركز مدينة أربيل وتقع بين جبل سفين وسورك وتعرف باسم (عروس كوردستان) . وهي من أغنى المصايف نظراً لطبيعتها الخلابة و مياهها العذبة . اطلقت عليها هذه التسمية كونها تحتوي على العديد من  عيون المياه والاشجار ما يشكل عاملا جاذبا للسياح العراقيين والاجانب . وتحتوي على عدد لا يستهان به من الفنادق والمطاعم والمقاهي وسوق للمنتجات المحلية</p>
                </div>
        </div>
        <div>
                <div class="uk-card-media-left uk-cover-container ">
                        <img src="assets/img/resortes erbil/joman.jpg" alt="" uk-cover   style="height: 250px;width: 100%">
                        <canvas width="600" height="480"></canvas>
                </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                        <h3 class="uk-card-title">جومان</h3>
                        <p>يقع قضاء جومان الحدودي  بين سلسلة جبال  هلكورد ـ سكران،  وشمال شرق مدينة أربيل و على بعد 160كم من اربيل. و قضاء جومان من المناطق السياحية الرائعة، ذلك لتوافر العديد من المصايف ، المتنزهات ، الأنهـر ، المروج الخضراء و شلالات المياه. ان هذا القضاء مركز مهم بالنسبة للانتاج الزراعي و تربية الماشية ، فضلا عـلى أنّ طريق هاملتون الاستراتيجي يمر عبر المدينة ، مـا يضفي عليها أهمية إضافية.</p>
                </div>
        </div>
    </div>

</div>




<!-- <div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/shaqlawa.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title"> شقلاوة </h3>
            <p>تبعد مدينة شقلاوة مسافة 50 كم عن مركز مدينة أربيل وتقع بين جبل سفين وسورك وتعرف باسم (عروس كوردستان) . وهي من أغنى المصايف نظراً لطبيعتها الخلابة و مياهها العذبة . اطلقت عليها هذه التسمية كونها تحتوي على العديد من  عيون المياه والاشجار ما يشكل عاملا جاذبا للسياح العراقيين والاجانب . وتحتوي على عدد لا يستهان به من الفنادق والمطاعم والمقاهي وسوق للمنتجات المحلية</p>
        </div>
    </div>
</div>

</div>
 -->




<!-- <div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/joman.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">  جومان  </h3>
            <p> يقع قضاء جومان الحدودي  بين سلسلة جبال  هلكورد ـ سكران،  وشمال شرق مدينة أربيل و على بعد 160كم من اربيل. و قضاء جومان من المناطق السياحية الرائعة، ذلك لتوافر العديد من المصايف ، المتنزهات ، الأنهـر ، المروج الخضراء و شلالات المياه. ان هذا القضاء مركز مهم بالنسبة للانتاج الزراعي و تربية الماشية ، فضلا عـلى أنّ طريق هاملتون الاستراتيجي يمر عبر المدينة ، مـا يضفي عليها أهمية إضافية. </p>
        </div>
    </div>
</div>
</div> -->

<div class="uk-padding">

        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/haj omran.jpg" alt="" uk-cover   style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">حاجي عمران</h3>
                                <p>يقع موقع حاجي عمران ضمن حدود قضاء جومان الــذي يبعـد 170كم عن مركز مدينة أربيل و20 كم عن قضاء جومان . يرتفع حاج عمران 3000 م عن مستوى سطح البحر . يمتاز هذا الموقع بغزارة الأمطار والثلوج التي تغطي اًلمنطقة طوال أشهر السنة ، ما يضفـي على الموقع جوا رائعا لا سيما خلال فصــل الصيف ، هذا فضلا على احتوائه على مجمع سياحي يتألف من مجموعة كبيرة من البيوت الفندقية السياحية .</p>
                        </div>
                </div>
                <div>
                        <div class="uk-card-media-left uk-cover-container ">
                                <img src="assets/img/resortes erbil/jabal halkrd.jpg" alt="" uk-cover   style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title"> المحمية الطبيعية وقمة جبل هلكورد</h3>
                                <p>تعد قمة جبل هلكورد  من أعلى القمم الجبلية على مستوى  العراق ، وفق ارتفاع 3607 م عـن مستوى سطح البحر.  يقع جبل هلكورد بيــــن أقضية ونواحي  جومان - كلالة - حاج عمران - سيدكان وقرية روستي ، حيث تكسو الثلـــوج  قممه على مدار السنة . أما عند سفحه فنجد أكثر من سبعة أحواض وبحيرة صغيرة . و تنتشر  عند سفحه ينابيع المياه مـا يمنح تلك السفوح رونقا مميزا  ويجعلها مرتعا  لشتى أنواع الطيور والزهور النادرة طبيعيا .    </p>
                        </div>
                </div>
            </div>
        
        </div>



<!-- <div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/haj omran.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title"> حاجي عمران </h3>
            <p>يقع موقع حاجي عمران ضمن حدود قضاء جومان الــذي يبعـد 170كم عن مركز مدينة أربيل و20 كم عن قضاء جومان . يرتفع حاج عمران 3000 م عن مستوى سطح البحر . يمتاز هذا الموقع بغزارة الأمطار والثلوج التي تغطي اًلمنطقة طوال أشهر السنة ، ما يضفـي على الموقع جوا رائعا لا سيما خلال فصــل الصيف ، هذا فضلا على احتوائه على مجمع سياحي يتألف من مجموعة كبيرة من البيوت الفندقية السياحية .  </p>
        </div>
    </div>
</div>

</div> -->


<!-- <div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/jabal halkrd.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">  المحمية الطبيعية وقمة جبل هلكورد  </h3>
            <p> تعد قمة جبل هلكورد  من أعلى القمم الجبلية على مستوى  العراق ، وفق ارتفاع 3607 م عـن مستوى سطح البحر.  يقع جبل هلكورد بيــــن أقضية ونواحي  جومان - كلالة - حاج عمران - سيدكان وقرية روستي ، حيث تكسو الثلـــوج  قممه على مدار السنة . أما عند سفحه فنجد أكثر من سبعة أحواض وبحيرة صغيرة . و تنتشر  عند سفحه ينابيع المياه مـا يمنح تلك السفوح رونقا مميزا  ويجعلها مرتعا  لشتى أنواع الطيور والزهور النادرة طبيعيا . تجدر الإشارة، إلى أنّ المنطقة بكاملها تقع داخل المحمية الطبيعية (ناشنال بارك) هلكورد - سكران ، حيث تبلغ مساحة ناشنال بارك 110كم2 و تمتد من جبل سكران  وصولا الى سلسلة جبل حصاروست .   يقصده الزوار من معظم مدن كوردستان ومن وسط وجنوب العراق و بلدان مختلفة‌ من العالم ، مرتعا لسياحة المغامرات المختلفة ، تسلق الجبال ، وجمع ألاعشاب لأغراض طبية ومخصص البعض منها للاكل. يعد هذا المكان الأنسب لانشاء تلفريك وقرية سياحية  </p>
        </div>
    </div>
</div>

</div> -->




<div class="uk-padding">

        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/midnok.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">ميدانـــوك</h3>
                                <p>ميدانوك هي منطقة سياحية ترتفع 979 م عن مستوى سطح البحر، و تبعد بمسافة 128كم عن مدينة أربيل. تمتاز ميدانوك بوفرة أشجارها و مناظرها الطبيعية الخلابة. تقع هذه المنطقة على الطريق العـام بين سوران ـ ميركه سور و مــروراً بقرى: شيتنه، شيخان، زيني و بوكران.   </p>
                        </div>
                </div>
                <div>
                        <div class="uk-card-media-left uk-cover-container ">
                                <img src="assets/img/resortes erbil/wadiakwayan.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title"> وادي اكويان</h3>
                                <p> يبعد متنزه اكويان  مسافة 11 كم شرق مدينة رواندز و 116 كم عن مدينة اربيل، بارتفاع 980 م عن مستوى سطح البحر. يمتاز هذا المتنزه بوفرة اشجار الفواكه كالجوز، الكمثري و الاسبندار، ما يضفي على المنطقة مزيداً من الجمال، الظلال والمناخ المعتدل.    </p>
                        </div>
                </div>
            </div>
        
        </div>








<!-- <div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/midnok.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title"> ميدانـــوك</h3>
            <p>ميدانوك هي منطقة سياحية ترتفع 979 م عن مستوى سطح البحر، و تبعد بمسافة 128كم عن مدينة أربيل. تمتاز ميدانوك بوفرة أشجارها و مناظرها الطبيعية الخلابة. تقع هذه المنطقة على الطريق العـام بين سوران ـ ميركه سور و مــروراً بقرى: شيتنه، شيخان، زيني و بوكران. يقصدها السياح من أرجاء كوردستان كافة و لاسيما خلال فصل الصيف . </p>
        </div>
    </div>
</div>

</div> -->


<!-- <div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/wadiakwayan.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">  وادي اكويان</h3>
            <p> يبعد متنزه اكويان  مسافة 11 كم شرق مدينة رواندز و 116 كم عن مدينة اربيل، بارتفاع 980 م عن مستوى سطح البحر. يمتاز هذا المتنزه بوفرة اشجار الفواكه كالجوز، الكمثري و الاسبندار، ما يضفي على المنطقة مزيداً من الجمال، الظلال والمناخ المعتدل. </p>
        </div>
    </div>
</div>

</div> -->









<div class="uk-padding">

        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/kahf shander.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">كهف شاندر</h3>
                                <p>يقع كهف شاندر التاريخي عند سفح جبل برادوست ضمن حدود قضاء ميركه سور و على ارتفـاع 2200  قدم عن مستوى سطـــح البحر. يعتبر هذا الكهف من أكبر الكهوف و أقدمها فـــي العراق، إذ يعود تاريخه الـى العــصر الحجري القديم تقريباً 6000 عاماً ق.م.

                                        يتميز كهف شاندر بكونه مثلث الشكل، حيث يبلغ ارتفاعه  18 م و عرضه 27م.  </p>
                        </div>
                </div>
                <div>
                        <div class="uk-card-media-left uk-cover-container ">
                                <img src="assets/img/resortes erbil/hiran.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title"> هـــــيــران</h3>
                                <p>تبعد هيران 70 كم عن شمال شرق مـدينة أربيل و 23 كم شرق مصيف شقلاوة. تمتاز هيران بهواء منعش و طبيعة سياحية وذلك لكثرة  الأشجار فيها. و تحتوي على خمسة ينابيع و عشرات البساتين. تم اعـــداد العشرات من الجرادخ ( المسقفات الحصيرية ) و الأمـــاكن الخاصة بالراحة.    </p>
                        </div>
                </div>
            </div>
        
        </div>

<!-- <div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/kahf shander.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title"> كهف شاندر</h3>
            <p> يقع كهف شاندر التاريخي عند سفح جبل برادوست ضمن حدود قضاء ميركه سور و على ارتفـاع 2200  قدم عن مستوى سطـــح البحر. يعتبر هذا الكهف من أكبر الكهوف و أقدمها فـــي العراق، إذ يعود تاريخه الـى العــصر الحجري القديم تقريباً 6000 عاماً ق.م.

يتميز كهف شاندر بكونه مثلث الشكل، حيث يبلغ ارتفاعه  18 م و عرضه 27 م، و يمتد عبر الجبـل بعمق 40 م، فيتسع من الداخل ليصل الى 60 م. أجريت التنقيبات داخل الكهف لأول مرة بين عامي 1951ـ 1961 من قبل العالم "رالف سولكي"، الذي اكتشف أربع طبقات أثـرية متراكمة يعود تاريخها الى العصور الحجرية القديمة.</p>
        </div>
    </div>
</div>

</div> -->




<!-- <div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/hiran.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">  هـــــيــران</h3>
            <p> تبعد هيران 70 كم عن شمال شرق مـدينة أربيل و 23 كم شرق مصيف شقلاوة. تمتاز هيران بهواء منعش و طبيعة سياحية وذلك لكثرة  الأشجار فيها. و تحتوي على خمسة ينابيع و عشرات البساتين. تم اعـــداد العشرات من الجرادخ ( المسقفات الحصيرية ) و الأمـــاكن الخاصة بالراحة.</p>
        </div>
    </div>
</div>

</div> -->




<div class="uk-padding">

        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/jabal korek.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">مجمع و تلفريك كورك</h3>
                                <p>يقع مجمع و تلفريك كورك على بعد 107 كم  شمال شرق مدينة أربيل. تمتد رقعته الجغرافية من مصيف بيخال التابع لقضاء رواندز ويصل إلى قمة جبل كورك. يبلغ طول التلفريك حوالى 4 كم و بارتفاع 75 م. أمّا  قمة جبل كورك فتحتوي على مجمع يتضمن مطاعم، كافتيريا، مقهى و أماكن خاصة للاستراحة و التي تحتوي على ألعاب مخصّصة للصغار و الكبار، كالتزحلق على الجليد و الطيران الشراعي.</p>
                        </div>
                </div>
                <div>
                        <div class="uk-card-media-left uk-cover-container ">
                                <img src="assets/img/resortes erbil/banl.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">  منتجع بانك السياحي</h3>
                                <p> يقع هذا المنتجع على تل  قريب من رواندز، ويبعد تحديدا مسافة  109 كم عن مدينة أربيل. يضم المجمع عددا من الموتيلات و الأكشاك الصيفية، المطاعم، المحال التجارية، أحواض السباحة ومدينة ألعاب (شنكلبانة) ومدينة ألعاب خاصة للأطفال. ونتيجة للاقبال الكثيف عليه من قبل السياح  هناك خطط مستقبلية لاضافة المزيد من المرافق السياحية اليه.    </p>
                        </div>
                </div>
            </div>
        
        </div>






<!-- <div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/jabal korek.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title"> مجمع و تلفريك كورك</h3>
            <p>   يقع مجمع و تلفريك كورك على بعد 107 كم  شمال شرق مدينة أربيل. تمتد رقعته الجغرافية من مصيف بيخال التابع لقضاء رواندز ويصل إلى قمة جبل كورك. يبلغ طول التلفريك حوالى 4 كم و بارتفاع 75 م. أمّا  قمة جبل كورك فتحتوي على مجمع يتضمن مطاعم، كافتيريا، مقهى و أماكن خاصة للاستراحة و التي تحتوي على ألعاب مخصّصة للصغار و الكبار، كالتزحلق على الجليد و الطيران الشراعي، بالاضافة إلى 37 شقة سكنية. يبلغ ارتفاع جبل كورك حوالى  2115 م عن مستوى سطح البحر. لا تتعدى درجات الحرارة في المجمع شتاء درجة مئوية واحدة حيث يصل مستوى الثلوج الى ارتفاع متر واحد. في حين تصل درجات الحرارة  خلال  فصل  الصيف إلى  25 درجة  مئوية</p>
        </div>
    </div>
</div>

</div> -->

<!-- <div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/banl.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">  منتجع بانك السياحي</h3>
            <p> يقع هذا المنتجع على تل  قريب من رواندز، ويبعد تحديدا مسافة  109 كم عن مدينة أربيل. يضم المجمع عددا من الموتيلات و الأكشاك الصيفية، المطاعم، المحال التجارية، أحواض السباحة ومدينة ألعاب (شنكلبانة) ومدينة ألعاب خاصة للأطفال. ونتيجة للاقبال الكثيف عليه من قبل السياح  هناك خطط مستقبلية لاضافة المزيد من المرافق السياحية اليه.</p>
        </div>
    </div>
</div>

</div> -->




<div class="uk-padding">

        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/jandian.jpg" alt="" uk-cover style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">مصيف جنديان</h3>
                                <p> يبعد مصيف جنديان مسافة 115 كم عن مدينة أربيل. و يقع المصيف عند حدود منطقة رواندز و أسفل جبل هندرين و على مقربة 5 كــم شرق منطقة سوران. يمتاز المصيف بعين سحرية أسفل الجبل تجفّ المياه داخلها أحيانا لتعود إلى الظهور مع حلول فصل الربيع.   ومصيف جنديان من المناطق السياحية الرئيسية في المنطقة نظرا لطبيعته الخلابة وكثافـة أشجـاره الطبيعية ومناخه المعتدل طيلة فصل الصيف، فضلا على المرافق  السياحية التي أعدت  خصيصا للمصطافين.</p>
                        </div>
                </div>
                <div>
                        <div class="uk-card-media-left uk-cover-container ">
                                <img src="assets/img/resortes erbil/wady khrnd.jpg" alt="" uk-cover style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">  وادي خرند</h3>
                                <p> يمتاز هذا الموقع الطبيعي بجمال أخاذ، و يقع غرب مدينة رواندز و على الطريق الذي يربطه بقضاء سوران. يبعد هذا الوادي  104 كم عن مدينة اربيل و يرتفع 980 م عن مستوى سطح البحر. لهذا الوادي شقان: الشق الاول يبدأ تحديداً عند الجانب الذي يقع ضمن قرية (كاولوكان)، يطلق عليه تسمية كلي خرند. أما الشق الاخر، الذي يقع بالقرب من رواندز، فيدعى خرند.  </p>
                        </div>
                </div>
            </div>
        
        </div>







<!-- <div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/jandian.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">مصيف جنديان</h3>
            <p>   يبعد مصيف جنديان مسافة 115 كم عن مدينة أربيل. و يقع المصيف عند حدود منطقة رواندز و أسفل جبل هندرين و على مقربة 5 كــم شرق منطقة سوران. يمتاز المصيف بعين سحرية أسفل الجبل تجفّ المياه داخلها أحيانا لتعود إلى الظهور مع حلول فصل الربيع.   ومصيف جنديان من المناطق السياحية الرئيسية في المنطقة نظرا لطبيعته الخلابة وكثافـة أشجـاره الطبيعية ومناخه المعتدل طيلة فصل الصيف، فضلا على المرافق  السياحية التي أعدت  خصيصا للمصطافين.</p>
        </div>
    </div>
</div>

</div> -->



<!-- <div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/wady khrnd.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">  وادي خرند</h3>
            <p>يمتاز هذا الموقع الطبيعي بجمال أخاذ، و يقع غرب مدينة رواندز و على الطريق الذي يربطه بقضاء سوران. يبعد هذا الوادي  104 كم عن مدينة اربيل و يرتفع 980 م عن مستوى سطح البحر. لهذا الوادي شقان: الشق الاول يبدأ تحديداً عند الجانب الذي يقع ضمن قرية (كاولوكان)، يطلق عليه تسمية كلي خرند. أما الشق الاخر، الذي يقع بالقرب من رواندز، فيدعى خرند.</p>
        </div>
    </div>
</div>

</div> -->









<div class="uk-padding">

        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/mutanazh haja baiz.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">متنزه حاجي بايز</h3>
                                <p> يبعد متنزه حـاجي بايز قرابة الـ55 كلم عن مدينة أربيل و 5 كـلم عن مدينة شقلاوة، وعلى طـريق شقلاوة ـ هرير . يقصده المواطنون عامة وأهالي مدينة شقـلاوة خاصة نظرا لجمال طبيعته. تجدر الإشارة، إلى أنّ هذا المتنزه يشهد سنويا الإحتفال بعيد الأول من أيار.</p>
                        </div>
                </div>
                <div>
                        <div class="uk-card-media-left uk-cover-container ">
                                <img src="assets/img/resortes erbil/Shaneder_Park_2.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">   بارك شاندر</h3>
                                <p> تقع غرب مدينة اربيل مقابل برلمان كردستان
                                        اربيل
                                        يعتبر بارك أو متنزه سامي عبدالرحمن من أكبر المتنزهات في أربيل. فقد صُمم بشكل هندسي وأُنشئ وفق مرحلتين على مساحة 800 دونم. يقع هذا المتنزه غرب مدينة أربيل ويملك بوابة رئيسية مواجهة لمبنى برلمان كوردستان، فضلا عن العديد من المرافق والفعاليات السياحية كالمطاعـم، الاكشـاك، الملاعـب، الشوارع، قنوات المذياع، الشاشات السينمائية العملاقة وغيرها. يزور المتنزه يوميا الآلاف من المواطنين و ذلك لقضاء أمتع الأوقات. </p>
                        </div>  
                </div>
            </div>
        
        </div>


<!-- <div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/mutanazh haja baiz.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">متنزه حاجي بايز</h3>
            <p>   يبعد متنزه حـاجي بايز قرابة الـ55 كلم عن مدينة أربيل و 5 كـلم عن مدينة شقلاوة، وعلى طـريق شقلاوة ـ هرير . يقصده المواطنون عامة وأهالي مدينة شقـلاوة خاصة نظرا لجمال طبيعته. تجدر الإشارة، إلى أنّ هذا المتنزه يشهد سنويا الإحتفال بعيد الأول من أيار.</p>
        </div>
    </div>
</div>

</div> -->



<!-- <div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/sami abd.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">  بارك سامي عبد الرحمن</h3>
            <p>تقع غرب مدينة اربيل مقابل برلمان كردستان
اربيل
يعتبر بارك أو متنزه سامي عبدالرحمن من أكبر المتنزهات في أربيل. فقد صُمم بشكل هندسي وأُنشئ وفق مرحلتين على مساحة 800 دونم. يقع هذا المتنزه غرب مدينة أربيل ويملك بوابة رئيسية مواجهة لمبنى برلمان كوردستان، فضلا عن العديد من المرافق والفعاليات السياحية كالمطاعـم، الاكشـاك، الملاعـب، الشوارع، قنوات المذياع، الشاشات السينمائية العملاقة وغيرها. يزور المتنزه يوميا الآلاف من المواطنين و ذلك لقضاء أمتع الأوقات.</p>
        </div>
    </div>
</div>

</div> -->


<div class="uk-padding">

        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/manarah_park_main.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">بارك المنارة</h3>
                                <p>يعتبر بارك أو متنزه المنارة من المتنزهات الجميلة فـــي أربيل، ويقع مقابل بارك "شاندر". وقد أُطلقَ عليه تسمية المنارة وذلك  لاحتوائه على منارة جـــولي . يستقبل هذا المتنزه عددا كبيرا من الزائرين سواء كانوا من أهالي المنطقة أو أجانب طمعا بتمضية اوقاتاً ممتعة. و تجدر الإشارة الى أنّ المناسبات والإحتفالات الوطنية تقام عادة داخل هذا المتنزه.
                                        ويقع 
                                    قبالة بـــــارك " شاندر"</p>
                        </div>
                </div>
                <div>


                        <div class="uk-card-media-left uk-cover-container ">
                                <img src="assets/img/resortes erbil/sami abd.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                                <<canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">  بارك سامي عبد الرحمن</h3>
                                <p> تقع غرب مدينة اربيل مقابل برلمان كردستان
                                        اربيل
                                        يعتبر بارك أو متنزه سامي عبدالرحمن من أكبر المتنزهات في أربيل. فقد صُمم بشكل هندسي وأُنشئ وفق مرحلتين على مساحة 800 دونم. يقع هذا المتنزه غرب مدينة أربيل ويملك بوابة رئيسية مواجهة لمبنى برلمان كوردستان، فضلا عن العديد من المرافق والفعاليات السياحية كالمطاعـم، الاكشـاك، الملاعـب، الشوارع، قنوات المذياع، الشاشات السينمائية العملاقة وغيرها. يزور المتنزه يوميا الآلاف من المواطنين و ذلك لقضاء أمتع الأوقات. </p>
                        </div>



                        
                </div>
            </div>
        
        </div>


<!-- <div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/1032.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">بارك المنارة</h3>
            <p>   يقع هذا المتنزه جنوب قلعة أربيل، خلف جامع الصواف. أنشئ هذا المتنزه بشكل معاصر حيث تتوفر فيه ملاعب عدة، قاعة مخصصة للفنون التشكيلية شُيّدت بطريقة مشابهة  لكهف شاندر المعروف، تــذكّر الرواد والزائرين بالأماكن التاريخية القديمة
                    ويقع 
                جنوب قلعة أربيل خلف جامع الصواف</p>
        </div>
    </div>
</div>

</div> -->



<!-- <div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/Shaneder_Park_2.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">  بارك شاندر</h3>
            <p>يقع هذا المتنزه جنوب قلعة أربيل، خلف جامع الصواف. أنشئ هذا المتنزه بشكل معاصر حيث تتوفر فيه ملاعب عدة، قاعة مخصصة للفنون التشكيلية شُيّدت بطريقة مشابهة  لكهف شاندر المعروف، تــذكّر الرواد والزائرين بالأماكن التاريخية القديمة
            ويقع 
        جنوب قلعة أربيل خلف جامع الصواف</p>
        </div>
    </div>
</div>

</div> -->
<div class="uk-padding">

        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/1032.jpg" alt="" uk-cover style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">متنزه دلوبه</h3>
                                <p> يبعد 12 كلم عن مدينة أربيل من جهة الشمال الغربي، وارتفاع 420 م عـن مستوى سطح البحر. تمتاز هذه المنطقة ببيئة نظيفة و طبيعة زاهية ومناخ معتدل . تقصده عـوائل أربيل للـراحة والاستجمام ولا سيما خلال فصل الربيع من كل عام.</p>
                        </div>
                </div>
                <div>
                        <div class="uk-card-media-left uk-cover-container ">
                                <img src="assets/img/resortes erbil/952.jpg" alt="" uk-cover style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">   بارك كولان</h3>
                                <p> يقع بارك كولان على مقربة  3 كم من مركز مدينة سوران على الطريق بين (سوران - جومان). يحتوي هذا المتنزه على الكثير من وسائل اللعب و الترفيه و يزوره الكثير من السياح المحليين ، الأجانب والعرب يـوميا للاستراحة و الاستجمام و قضاء اسعد الاوقات.</p>
                        </div>
                </div>
            </div>
        
        </div>
<!-- <div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/1032.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">متنزه دلوبه </h3>
            <p>   يبعد 12 كلم عن مدينة أربيل من جهة الشمال الغربي، وارتفاع 420 م عـن مستوى سطح البحر. تمتاز هذه المنطقة ببيئة نظيفة و طبيعة زاهية ومناخ معتدل . تقصده عـوائل أربيل للـراحة والاستجمام ولا سيما خلال فصل الربيع من كل عام.</p>
        </div>
    </div>
</div>

</div> -->


<!-- <div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/952.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">   بارك كولان</h3>
            <p>يقع بارك كولان على مقربة  3 كم من مركز مدينة سوران على الطريق بين (سوران - جومان). يحتوي هذا المتنزه على الكثير من وسائل اللعب و الترفيه و يزوره الكثير من السياح المحليين ، الأجانب والعرب يـوميا للاستراحة و الاستجمام و قضاء اسعد الاوقات.</p>
        </div>
    </div>
</div>

</div> -->







<div class="uk-padding">

        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/1691.jpg" alt="" uk-cover style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">متنزه خوشكان</h3>
                                <p>  تقع قرية خوشكان ضمن حدود قضاء جومان ، بمسافة تبعد 170 كلم عن مدينة أربيل ، وفق ارتفاع 2665 كلم عن مستوى سطح البحر. أما الطريق المؤدي إلى هذه القرية، فيمرّ عبر جسر مصطفى آغا وعبر طريق فرعي يمتد شرقا. تمتاز هذه القرية بالطبيعة الخلابة والمناطق السياحية الجميلة ، وانخفاض بدرجات الحرارة وتساقط الأمطار الغزيرة والثلوج .</p>
                        </div>
                </div>
                <div>
                        <div class="uk-card-media-left uk-cover-container ">
                                <img src="assets/img/resortes erbil/1029.jpg" alt="" uk-cover> style="height: 250px;width: 100%"
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">   متنزه حماموك</h3>
                                <p> قع في أعالي مدينة كويسنجق بمسافة 2 كلم وارتفاع 650 م عن مستوى سطح البحر . لطالما اعتبر حماموك المصدر الرئيسي للمياه في المدينة.
                                        تجدر الإشارة، إلى أنّ أهالي المنطقة يرتادون هذا المتنزه أيام العطل والمناسبات بحثا عن الراحة وتمضية أوقات ممتعة.</p>
                        </div>
                </div>
            </div>
        
        </div>


<!-- <div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/1691.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">متنزه خوشكان  </h3>
            <p>  تقع قرية خوشكان ضمن حدود قضاء جومان ، بمسافة تبعد 170 كلم عن مدينة أربيل ، وفق ارتفاع 2665 كلم عن مستوى سطح البحر. أما الطريق المؤدي إلى هذه القرية، فيمرّ عبر جسر مصطفى آغا وعبر طريق فرعي يمتد شرقا. تمتاز هذه القرية بالطبيعة الخلابة والمناطق السياحية الجميلة ، وانخفاض بدرجات الحرارة وتساقط الأمطار الغزيرة والثلوج .</p>
        </div>
    </div>
</div>

</div>


<div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/1029.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">    متنزه حماموك</h3>
            <p>قع في أعالي مدينة كويسنجق بمسافة 2 كلم وارتفاع 650 م عن مستوى سطح البحر . لطالما اعتبر حماموك المصدر الرئيسي للمياه في المدينة.
تجدر الإشارة، إلى أنّ أهالي المنطقة يرتادون هذا المتنزه أيام العطل والمناسبات بحثا عن الراحة وتمضية أوقات ممتعة.</p>
        </div>
    </div>
</div>

</div> -->




<div class="uk-padding">

        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                        <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/img/resortes erbil/3448.jpg" alt="" uk-cover style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title"> كلة رةشان </h3>
                                <p> تقع هذه المنطقة في كوية محافظة أربيل . وتتميز بمساحتها الخضراء الشاسعة ما يجعلها جاذبة للزائرين الذين يسعون لقضاء وقت ممتع في الهواء الطلق.</p>
                        </div>
                </div>
                <div>
                        <div class="uk-card-media-left uk-cover-container ">
                                <img src="assets/img/resortes erbil/2756_0.jpg" alt="" uk-cover style="height: 250px;width: 100%">
                                <canvas width="600" height="480"></canvas>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                                <h3 class="uk-card-title">  وادي سكران</h3>
                                <p> يقع وادي سكران في اسفل جبل سكران ضمن منطقة جومان. يتميز هذا الوادي بالطبيعة الخلابة المكسوة بالاشجار، يخترقه نهر صغير يجعله مرتعاً للعديد من السياح. اما عند الجانب العلوي للوادي فتوجد قرية تحتوي على العديد من الاماكن الخاصة للاسترخاء مع ما يتضمنه من خدمات تساعد على قضاء امتع الاوقات.</p>
                        </div>
                </div>
            </div>
        
        </div>

<!-- 
<div class="uk-padding">

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/resortes erbil/3448.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title"> كلة رةشان  </h3>
            <p>تقع هذه المنطقة في كوية محافظة أربيل . وتتميز بمساحتها الخضراء الشاسعة ما يجعلها جاذبة للزائرين الذين يسعون لقضاء وقت ممتع في الهواء الطلق. </p>
        </div>
    </div>
</div>

</div>




<div class="uk-padding">
	

	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/resortes erbil/2756_0.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">     وادي سكران</h3>
            <p>يقع وادي سكران في اسفل جبل سكران ضمن منطقة جومان. يتميز هذا الوادي بالطبيعة الخلابة المكسوة بالاشجار، يخترقه نهر صغير يجعله مرتعاً للعديد من السياح. اما عند الجانب العلوي للوادي فتوجد قرية تحتوي على العديد من الاماكن الخاصة للاسترخاء مع ما يتضمنه من خدمات تساعد على قضاء امتع الاوقات.</p>
        </div>
    </div>
</div>

</div> -->