<div class="height-footer  uk-padding-top">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <img class="d-block w-100" src="assets\img\logo\erbil-erbil.jpg" alt="First slide" style="object-fit:cover;">
      <div class="carousel-item active">
          
        <div class="carousel-caption d-none d-md-block">
          <h5>الطبيعة الخلابة</h5>
          <p style="text-align:center">يعتبر إقليم كوردستان من المناطق النموذجية لهواة جمال الطبيعة الخلابة والمليئة بالجبال والأماكن الأثرية العريقة، وخلال موسم الصيف الحار يمكن للسكان المحليين والسواح التمتع ببرودة الطقس في المنتجعات المطلة على تلال إقليم كوردستان.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <h5>الثقافة والتراث</h5>
          <p style="text-align:center">توجد في مدينتي أربيل والسليمانية متاحف تحتوي على مجموعة من القطع الأثرية والتماثيل التي تعود لعصور تاريخية غابرة، في حين يعرض متحف دهوك الوطني أكثر من 2000 قطعة أثرية تعود إلى العصر الحجري، فضلا عن متحف للتراث الفلكلوري.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <h5>الرحلات الجوية إلى إقليم كوردستان</h5>
          <p style="text-align:center">وجد في إقليم كوردستان مطارين دوليين، هما مطار أربيل الدولي ومطار السليمانية الدولي. وهنالك مشروع لتأسيس مطار دولي آخر في دهوك. ومعظم الرحلات الجوية المباشرة من الدول الاوربية والشرق الأوسط إلى إقليم كوردستان تتم من دون الهبوط في بغداد.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>