.w-100 {
    width: 100%!important;
    height: 400px;
}


.uk-padding-top {
   
    padding-top: 90px;
    padding-bottom: 90px;
}
.carousel-caption {
   
    padding-top: 20px;
    padding-bottom: 100px;
    
}


.developer{
    text-align : center;
}