<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/duhok_img/duhok resturant/backgroundduhok.jpg');">

  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" >مطاعم دهوك<br><img src="assets/img/line1.png" style="width:200px;"></h1>

</div>


<div class="uk-padding">
  <div class="uk-child-width-1-3@m" uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 500; repeat: true">
      <div>
            <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                      <div class="uk-card-media-top">
                          <img src="assets\img\duhok_img\duhok resturant\lunar rest.jpg" alt="" style="height: 50%; width: 100%;">
                      </div>
                      <div class="uk-card-body">
                          <p class="uk-card-title">  .Lunar Rest <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                         
                        
                          <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> Lunar sport center street
                          <br>
                          <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Lunar-Cafe-And-Restaurant-621966564861600/" style="color: black; text-decoration: none; "> Lunar Cafe And Rest.</a>
                 
                      </div>
              </div>
      </div>

      <div>
        <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                  <div class="uk-card-media-top">
                      <img src="assets\img\duhok_img\duhok resturant\diamondrest.jpg" alt="" style="height: 50%; width: 100%;">
                  </div>
                  <div class="uk-card-body">
                      <p class="uk-card-title">  Diamond House <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                     
                    
                      <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> Daniel Miteran Road
                      <br>
                      <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Diamond.House.Restaurant.Coffee.Shop/photos/a.429777417402436/620211471692362/?type=1&theater" style="color: black; text-decoration: none; "> Diamond House</a>
             
                  </div>
          </div>
  </div>

  <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
              <div class="uk-card-media-top">
                  <img src="assets\img\duhok_img\duhok resturant\nostalgiarest.jpg" alt="" style="height: 50%; width: 100%;">
              </div>
              <div class="uk-card-body">
                  <p class="uk-card-title"> Nostalgia Coffee <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                 
                
                  <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> Masik - Duhok
                  <br>
                  <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Nostalgia-Coffee-Duhok-2047522602188392/" style="color: black; text-decoration: none; "> Nostalgia Coffee</a>
         
              </div>
      </div>
</div>

<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
              <div class="uk-card-media-top">
                  <img src="assets\img\duhok_img\duhok resturant\mawall rest..jpg" alt="" style="height: 50%; width: 100%;">
              </div>
              <div class="uk-card-body">
                  <p class="uk-card-title"> Mawall Venice <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                 
                
                  <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> Zakho Street - Duhok
                  <br>
                  <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/MawallVeniceRestaurants/" style="color: black; text-decoration: none; "> Mawall Venice</a>
         
              </div>
      </div>
</div>


<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
              <div class="uk-card-media-top">
                  <img src="assets\img\duhok_img\duhok resturant\vikings res.jpg" alt="" style="height: 50%; width: 100%;">
              </div>
              <div class="uk-card-body">
                  <p class="uk-card-title"> .VIKINGS PIZZA REST <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                 
                
                  <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> Malta, 60m Street - Duhok
                  <br>
                  <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/VikingsPizzaDuhok/" style="color: black; text-decoration: none; "> VIKINGS PIZZA RESTAURANT</a>
         
              </div>
      </div>
</div>



<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
              <div class="uk-card-media-top">
                  <img src="assets\img\duhok_img\duhok resturant\neils ressweets.jpg" alt="" style="height: 50%; width: 100%;">
              </div>
              <div class="uk-card-body">
                  <p class="uk-card-title"> Neils Restaurant <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                 
                
                  <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> K.R.O - ZERILAND - Duhok
                  <br>
                  <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/neilsrest.sweets/" style="color: black; text-decoration: none; "> Neils Rest. & sweets </a>
         
              </div>
      </div>
</div>

<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
              <div class="uk-card-media-top">
                  <img src="assets\img\duhok_img\duhok resturant\asil borek.png" alt="" style="height: 50%; width: 100%;">
              </div>
              <div class="uk-card-body">
                  <p class="uk-card-title"> Aslı Börek Duhok <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                 
                
                  <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 
                  Family Mall - Duhok
                  <br>
                  <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/asliborekduhok/" style="color: black; text-decoration: none; "> Aslı Börek Duhok </a>
         
              </div>
      </div>
</div>


<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
              <div class="uk-card-media-top">
                  <img src="assets\img\duhok_img\duhok resturant\pizzaduhok.jpg" alt="" style="height:360px; width: 100%;">
              </div>
              <div class="uk-card-body">
                  <p class="uk-card-title"> Duhok pizza <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                 
                
                  <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 
                  
دهوك - شارع نوهدرا
                  <br>
                  <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/%D8%A8%D9%8A%D8%AA%D8%B2%D8%A7-%D8%AF%D9%87%D9%88%D9%83-Duhok-pizza-1796270257262928/" style="color: black; text-decoration: none; "> Duhok pizza </a>
         
              </div>
      </div>
</div>


<div>
<div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
    <div class="uk-card-media-top">
        <img src="assets\img\duhok_img\duhok resturant\texaschicken.jpg" alt="" style="height:360px; width: 100%;">
    </div>
    <div class="uk-card-body">
        <p class="uk-card-title"> Texas Chicken duhok <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
       
      
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 
        

        KRO STREET - Duhok
        <br>
        <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/texaschickenduhok/" style="color: black; text-decoration: none; "> Texas Chicken duhok </a>

    </div>
</div>
</div>

<div>
<div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
    <div class="uk-card-media-top">
        <img src="assets\img\duhok_img\duhok resturant\classhouse.jpg" alt="" style="height:100%; width:1000px;">
    </div>
    <div class="uk-card-body">
        <p class="uk-card-title">Glass House <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
       
      
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 
        

        Avro City - Duhok
        <br>
        <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/glasshousecoffe/" style="color: black; text-decoration: none; "> Glass House Rest. & Cafe </a>

    </div>
</div>
</div>


<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
        <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\bigbite.jpg" alt="" style="height:100%; width:1000px;">
        </div>
        <div class="uk-card-body">
            <p class="uk-card-title">Big Bite <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
           
          
            <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 
            
    
            Qazi mohammad road - Duhok
            <br>
            <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Big-Bite-145162402713345/" style="color: black; text-decoration: none; ">Big Bite </a>
    
        </div>
    </div>
    </div>



    <div>
        <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
            <div class="uk-card-media-top">
                <img src="assets\img\duhok_img\duhok resturant\daderestaurent.jpg" alt="" style="height:100%; width:1000px;">
            </div>
            <div class="uk-card-body">
                <p class="uk-card-title">Dade Restaurant <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
               
              
                <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 
                
        
                
Kro - Duhok
                <br>
                <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Dade-Rest-609505542491647/" style="color: black; text-decoration: none; ">Dade Restaurant </a>
        
            </div>
        </div>
        </div>


        <div>
            <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                <div class="uk-card-media-top">
                    <img src="assets\img\duhok_img\duhok resturant\diwan rest.jpg" alt="" style="height:100%; width:1000px;">
                </div>
                <div class="uk-card-body">
                    <p class="uk-card-title">Diwan Duhok<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                   
                  
                    <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 
                    
            
                    
                    Masik - Duhok
                    <br>
                    <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/DiwanShishaLounge/" style="color: black; text-decoration: none; ">Diwan Duhok </a>
            
                </div>
            </div>
            </div>



            <div>
                <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                    <div class="uk-card-media-top">
                        <img src="assets\img\duhok_img\duhok resturant\colombiano.jpg" alt="" style="height:100%; width:1000px;">
                    </div>
                    <div class="uk-card-body">
                        <p class="uk-card-title">Colombiano Cafe<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                       
                      
                        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 
     
Family Mall - Duhok
                        <br>
                        <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/cchduhok/" style="color: black; text-decoration: none; ">Colombiano Coffee House </a>
                
                    </div>
                </div>
                </div>
  
                <div>
                    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                        <div class="uk-card-media-top">
                            <img src="assets\img\duhok_img\duhok resturant\خان كباب.jpg" alt="" style="height:100%; width:1000px;">
                        </div>
                        <div class="uk-card-body">
                            <p class="uk-card-title">مطعم خان الكباب<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                           
                          
                            <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 
         
                            
Sahara str - Duhok
                            <br>
                            <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/%D8%AE%D8%A7%D9%86-%D9%83%D8%A8%D8%A7%D8%A8-1399737713626548/" style="color: black; text-decoration: none; "> مطعم خان الكباب </a>
                    
                        </div>
                    </div>
                    </div>




                    <div>
                        <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                            <div class="uk-card-media-top">
                                <img src="assets\img\duhok_img\duhok resturant\geverkerest.jpg" alt="" style="height:100%; width:1000px;">
                            </div>
                            <div class="uk-card-body">
                                <p class="uk-card-title">Geverke Restaurant<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                               
                              
                                <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 
            
Duhok cada barzan - Duhok
                                <br>
                                <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Geverke-Restaurant-730068670436605/" style="color: black; text-decoration: none; "> Geverke Restaurant </a>
                        
                            </div>
                        </div>
                        </div>



<div>
     <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
        <div class="uk-card-media-top">
             <img src="assets\img\duhok_img\duhok resturant\rudaw cafe.jpg" alt="" style="height:100%; width:1000px;">
        </div>
        <div class="uk-card-body">
        <p class="uk-card-title">Rudaw Cafe<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                   
         <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 
Beroshke Street - Duhok
         <br>
        <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Rudaw-Cafe-1059599574114840/" style="color: black; text-decoration: none; "> Rudaw Cafe </a>
                            
             </div>
         </div>
  </div>


  <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\golden house.jpg" alt="" style="height:100%; width:1000px;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title">Golden House<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        Gali - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/goldenhouseduhok/" style="color: black; text-decoration: none; "> Golden House </a>
                           
            </div>
        </div>
 </div>


 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\2222222222.jpg" alt="" style="height:100%; width:1000px;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title">خارنگه ها بابئ شاهى<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        
Gree base - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/%D8%AE%D8%A7%D8%B1%D9%86%DA%AF%D9%87-%D9%87%D8%A7-%D8%A8%D8%A7%D8%A8%D8%A6-%D8%B4%D8%A7%D9%87%D9%89-2006819776258818/" style="color: black; text-decoration: none; "> خارنگه ها بابئ شاهى </a>
                           
            </div>
        </div>
 </div>


 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\مطعم اسماك زريا.jpg" alt="" style="height:100%; width:1000px;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> مطعم اسماك زريا<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        

        زري لاند - دهوك
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/%D9%85%D8%B7%D8%B9%D9%85-%D8%A7%D8%B3%D9%85%D8%A7%D9%83-%D8%B2%D8%B1%D9%8A%D8%A7-1684023188591424/" style="color: black; text-decoration: none; "> مطعم اسماك زريا </a>
                           
            </div>
        </div>
 </div>

 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\grandpa.jpg" alt="" style="height:100%; width:1000px;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> Grandpa Duhok<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        

        masike - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/grandpakunafe/" style="color: black; text-decoration: none; "> Grandpa Kunafe Duhok </a>
                           
            </div>
        </div>
 </div>

 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\barhav rest.jpg" alt="" style="height:100%; width:1000px;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> Barhav Restaurant<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        

        Malta - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Barhav.Restaurant/" style="color: black; text-decoration: none; ">Barhav Restaurant </a>
                           
            </div>
        </div>
 </div>

 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\خارنگةها كباب بيخال.jpg" alt="" style="height:100%; width:1000px;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> خارنگةها كباب بيخال<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        

        Gavarke - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/kababbekhal/" style="color: black; text-decoration: none; ">خارنگةها كباب بيخال </a>
                           
            </div>
        </div>
 </div>


 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\Zada Cafe.jpg" alt="" style="height:100%; width:1000px;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> Zada Cafe<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        Qazi Mohammad Road - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/ZadaCafeDuhok/" style="color: black; text-decoration: none; "> Zada Cafe </a>
                           
            </div>
        </div>
 </div>

 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\2 Sultandoner.jpg" alt="" style="height:100%; width:1000px;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> 2 Sultandoner<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        
k.r.o - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/2-Sultandoner-299276330513341/" style="color: black; text-decoration: none; "> 2 Sultandoner </a>
                           
            </div>
        </div>
 </div>


 
 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\Venicia Cafe. Duhok.jpg" alt="" style="height:370px; width:100%;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> Venicia Cafe. Duhok<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        
k.r.o - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Venicia-Cafe-Duhok-1476293969331558/" style="color: black; text-decoration: none; "> Venicia Cafe. Duhok </a>
                           
            </div>
        </div>
 </div>

 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\Demhat Resturant.jpg" alt="" style="height:370px; width:100%;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title">Demhat Resturant<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        
        جوازات - دهوك
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Demhat-Resturant-1017876518377136/" style="color: black; text-decoration: none; "> Demhat Resturant </a>
                           
            </div>
        </div>
 </div>

 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\El Paso Duhok.png" alt="" style="height:370px; width:100%;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title">El Paso Duhok<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        
        Malta - duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/El-Paso-Duhok-1640890676214641/" style="color: black; text-decoration: none; "> El Paso Duhok </a>
                           
            </div>
        </div>
 </div>



 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\Sarky italiano pizza.jpg" alt="" style="height:370px; width:100%;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title">Sarky Italiano <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        
        
Aswaq rabi3 - duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Sarkypizza/" style="color: black; text-decoration: none; "> Sarky Italiano Pizza </a>
                           
            </div>
        </div>
 </div>


 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\forat restaurant.jpg" alt="" style="height:370px; width:100%;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title">Forat Restaurant<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

        
        
        سوق سكاير - دهوك
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/XaringehaForat/" style="color: black; text-decoration: none; "> Forat Restaurant </a>
                           
            </div>
        </div>
 </div>


 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\Doner Rest.jpg" alt="" style="height:370px; width:100%;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> Doner Restaurant<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

 مقابل افران كوباني  - دهوك
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Doner-Rest-156382068286523/" style="color: black; text-decoration: none; ">  Doner Restaurant</a>
                           
            </div>
        </div>
 </div>


 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\Milano's.jpg" alt="" style="height:370px; width:100%;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> Milano's Restaurant<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 

Family Mall - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/milanosofficial/" style="color: black; text-decoration: none; ">  Milano's Restaurant</a>
                           
            </div>
        </div>
 </div>


 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\روناهي.jpg" alt="" style="height:370px; width:100%;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> Ronahe Coffee & Net<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 


        Zakho.mahkama st. - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Ronahe.Coffee/" style="color: black; text-decoration: none; ">  Ronahe Coffee & Net</a>
                           
            </div>
        </div>
 </div>


 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\Rose Mary Restaurant.jpg" alt="" style="height:370px; width:100%;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> .Rose Mary Rest<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 


        Behind dream city - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Rose-Mary-Restaurant-%D9%85%D8%B7%D8%B9%D9%85-%D8%B1%D9%88%D8%B2-%D9%85%D8%A7%D8%B1%D9%8A-1032736650163752/" style="color: black; text-decoration: none; "> Rose Mary Restaurant</a>
                           
            </div>
        </div>
 </div>


 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\Gula Zakho Restaurant.jpg" alt="" style="height:370px; width:100%;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> .Gula Zakho Rest<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 


        Zakho - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/GolaZakhoRestaurant/" style="color: black; text-decoration: none; "> Gula Zakho Restaurant</a>
                           
            </div>
        </div>
 </div>


 <div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
       <div class="uk-card-media-top">
            <img src="assets\img\duhok_img\duhok resturant\مطعم تندوري.jpg" alt="" style="height:370px; width:100%;">
       </div>
       <div class="uk-card-body">
       <p class="uk-card-title"> مطعم تندوري<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                                  
        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 


         K.R.O - Duhok
        <br>
       <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/%D9%85%D8%B7%D8%B9%D9%85-%D8%AA%D9%86%D8%AF%D9%88%D8%B1%D9%8A-%D8%AF%D9%87%D9%88%D9%83-393250714382332/" style="color: black; text-decoration: none; "> مطعم تندوري</a>
                           
            </div>
        </div>
 </div>