<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/duhok_img/back-ground.jpg');">

  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" >مدينة دهوك<br><img src="assets/img/line1.png" style="width:200px;"></h1>

</div>

<!-- --------------مطاعم دهوك--------------- -->
<div class="uk-padding" >
      
  <div><h2 style="text-align: center; padding-top: 20px;">المطاعم<br><img src="assets/img/line1.png" style="width:200px;"></h2></div>

<div uk-slider="center: true">

      <div class="uk-position-relative uk-visible-toggle uk-light">
  
          <ul class="uk-slider-items uk-child-width-1-2@s uk-grid" >
              <li  style="width:350px;">
                  <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                      <div class="uk-card-media-top">
                          <img src="assets\img\duhok_img\duhok resturant\malta res.jpg" alt="" style="height: 50%; width: 100%;">
                      </div>
                      <div class="uk-card-body">
                          <p class="uk-card-title"> .Malta Rest <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                         
                        
                          <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> Duhok - Malta
                          <br>
                          <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/maltarest/?hc_ref=ARQsr6pn-naAHtt0Qdcwv-rZm5Sk4LtZ86ShpXw3uI2npmpy6A3Q9rO8x5ftKPbrf-Y&fref=nf" style="color: black; text-decoration: none; "> .Malta Res</a>
                          
                          
                          

                      </div>
                  </div>
              </li>
              <li  style="width: 350px; height: 200px;">
                  <div class="uk-card uk-card-default"style="background-color:rgb(240, 239, 239);">
                      <div class="uk-card-media-top">
                          <img src="assets\img\duhok_img\duhok resturant\vikings res.jpg" alt="">
                      </div>
                      <div class="uk-card-body">
                          <h3 class="uk-card-title"> Vikings Pizza  <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></h3>
                          
                          <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> 60m - duhok
                          <br>
                          <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/VikingsPizzaDuhok/" style="color: black; text-decoration: none; "> .Vikings Pizza Rest</a>
                      </div>
                  </div>
              </li>
              <li  style="width: 350px;">
                  <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                      <div class="uk-card-media-top">
                          <img src="assets\img\duhok_img\duhok resturant\mawall rest..jpg" alt="" style="float: center">
                      </div>
                      <div class="uk-card-body">
                          <h3 class="uk-card-title">.Mawall Rest<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></h3>
                          <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">Duhok
                          <br>
                          <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https:https://www.facebook.com/pg/MawallVeniceRestaurants/posts/" style="color: black; text-decoration: none; "> .Mawall Rest</a>
                      </div>
                  </div>
              </li>
              <li  style="width:350px;">
                  <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                      <div class="uk-card-media-top">
                          <img src="assets\img\duhok_img\duhok resturant\big chef.jpg" alt="" 
                          style="width: 100%; height: 310px;">
                      </div>
                      <div class="uk-card-body">
                          <h3 class="uk-card-title">.Big Chef Rest  <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></h3>
                          <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">
                          Duhok 
                          <br>
                          <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https:https://www.facebook.com/bigchef.web/" style="color: black; text-decoration: none; ">.Big Chef Rest </a>
                      </div>
                  </div>
              </li>
              <li  style="width: 350px;">
                  <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                      <div class="uk-card-media-top">
                          <img src="assets\img\duhok_img\duhok resturant\barhav rest.jpg" alt="">
                      </div>
                      <div class="uk-card-body">
                          <h3 class="uk-card-title">.Barhav Rest<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></h3>
                          <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">
                          
                          Duhok - malta    
                          <br>
                          <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Barhav.Restaurant/" style="color: black; text-decoration: none; "> .Barhav Rest</a>
                      </div>
                  </div>
              </li>

              <li  style="width: 350px;">
                  <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                      <div class="uk-card-media-top">
                          <img src="assets\img\duhok_img\duhok resturant\lunar rest.jpg" alt="">
                      </div>
                      <div class="uk-card-body">
                          <h3 class="uk-card-title">
                              .Lunar Rest
<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></h3>
                              <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">
                          
                         Lunar sport - Duhok

                              <br>
                              <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Lunar-Cafe-And-Restaurant-621966564861600/?ref=py_c" style="color: black; text-decoration: none; "> .Lunar Cafe And Rest</a>
                      </div>
                  </div>
              </li>
          </ul>
  
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
  
      </div>
  
      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
  
  </div>


</div>


<!-- ----------مصايف دهوك--------- -->

<div class="uk-padding" >
      <div><h2 style="text-align: center;">المصايف<br><img src="assets/img/line1.png" style="width:200px;"></h2></div>
    <div uk-slider="center: true">

        <div class="uk-position-relative uk-visible-toggle uk-light">
    
            <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="assets\img\duhok_img\مصايف دهوك\شلال شرانش.jpg" alt="شلالات كلي علي بك"style="height: 325px; width: 100%;">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">مصيف شرانش </h3>
                            <p style="text-align: justify;">هي احدى المصايف التابعة لناحية السندي في شمال شرق قضاء زاخو، تتميز بمناظرها الطبيعية الخلابة، يشتهر المصيف بشلاله الرائع و المتدفق مياهه من أعالي جبال خامتير و كيره .</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="assets\img\duhok_img\مصايف دهوك\مصيف آشاوا.jpg" alt="" style="height: 325px; width: 100%;">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">مصيف آشاوا</h3>
                            <p style="text-align: justify;">يبعد هذا المصيف مسافة 4 كم عن شرق مصيف سرسنك الذي يقع في القسم الشمالي من سفح جبل كاره . تكتسي هذه المنطقة بالعديد من الأشجار ، و تنحدر منها مياه جارية تؤلف شلالا صغيراً </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="assets\img\duhok_img\مصايف دهوك\جبل كاره.jpg" alt="" style="height:325px;width:100%; ">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">جبل كاره</h3>
                            <p style="text-align: justify;"> يبلغ ارتفاع قمة جبل كاره 2151 م عن مستوى سطح البحر و يقع في شمال شرق مدينة دهوك . ظلت قمة جبل كاره موقعاً سياحياً طبيعياً ، حيث يُشرف شمالا على مصايف سولاف ، آشاوه ، آنيشكي و بامرني .</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="assets\img\duhok_img\مصايف دهوك\مصيف سولاف.jpg" alt="" style="width: 100%;height:325px;">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">مصيف سولاف </h3>
                            <p style="text-align: justify;">يبعد هذا المصيف مسافة 4 كم عن بلدة العمادية، ضمن واد مليء بالأشجار و تجري فيه مياه عذبة أُطلق عليها إسم "سولاف". تنبع من سفح الجبل و تنحدر باتجاه رياض العمادية مكونة ما يشبه الشلال.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="assets\img\duhok_img\مصايف دهوك\مصيف كلي بالندا.jpg" alt=""style="width: 100%;height:325px;">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">مصيف كلي بالندا</h3>
                            <p style="text-align: justify;">يقع هذا المصيف في الجهة الشمالية الشرقية من محافظة دهوك . هو عبارة عن مضيق جبلي معقد ووعر ، يحتوي على طرق صعبة السلوك تخترق سلسلة جبلي متين من جهة و شرين من جهة أخرى .</p>
                        </div>
                    </div>
                </li>
            </ul>
    
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
    
    
        </div>
    
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    
    </div>
    
    



    <div class="uk-padding">

        <div><h2 style="text-align: center;">مراكز التسوق<br><img src="assets/img/line1.png" style="width:200px;"></h2></div>
      
      
      <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="clsActivated: uk-transition-active; center: true">
      
        <ul class="uk-slider-items uk-grid">
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img class="img-1" src="assets\img\duhok_img\thingstodoinduhok\familymallduhok.jpg" alt="">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Family Mall</h3>
                        <p class="uk-margin-remove">  العراق - دهوك</p>
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img class="img-1" src="assets\img\duhok_img\thingstodoinduhok\duhok_mazi.jpg" alt="Mazi Mall">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Mazi Mall</h3>
                        <p class="uk-margin-remove"> العراق - دهوك
                        </p>
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img class="img-1" src="assets\img\duhok_img\thingstodoinduhok\maximall.jpg" alt="Maxi mall" >
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Maxi Mall</h3>
                        <p class="uk-margin-remove">العراق - دهوك - شارع كي.ار.او
                              
                            </p>
                    </div>
                </div>
            </li>
       
      
            <li class="uk-width-3-4">
                  <div class="uk-panel">
                      <img class="img-1" src="assets\img\duhok_img\thingstodoinduhok\holandmall.jpg" alt="Maxi mall" style="object-fit: cover">
                      <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                          <h3 class="uk-margin-remove"> Holand Mall</h3>
                          <p class="uk-margin-remove">العراق - دهوك -  شارع اسواق الربيع
      
                                
                              </p>
                      </div>
                  </div>
              </li>
        </ul>
      
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
      
      
      </div>
      </div>
    
    </div>