<!-- style="position:absolute; left: 0;right: 0; top:0; border-top: 0; z-index: 100;" -->

<div style="position:fixed; left: 0;right: 0; top:0; border-top: 0; z-index: 100; background-color:rgba(255, 255, 255, 0.322); ">
    <div style="height: 10px; background-color: #6cc7d9; ">
    
    </div>

<!-- <nav class="uk-navbar-container b " uk-navbar >
        
    <div class="uk-navbar-right a ">
           
        <ul class="uk-navbar-nav c d">
           
                <li class="uk-active"><a class="menu-item " routerLink="/">حول كردســــتان</a></li>
            
                <li>
                        <a class="menu-item " routerLink="/erbil">مدينة أربـــيل</a>
                        <div class="uk-navbar-dropdown b">
                            <ul class="uk-nav uk-navbar-dropdown-nav" style="text-align: right ;">
                                <li><a class="menu-item " routerLink="/erbil/erbilrestaurant">المطاعم</a></li>
                                
                                <li><a class="menu-item " routerLink="/erbil/resorts">المصايـــف</a></li>
                                
                                <li><a class="menu-item " routerLink="/erbil/erbilhotel"> الفنادق</a></li>
                                <li><a class="menu-item " routerLink="/erbil/thingtodoinerbil">أشياء للقيام بها</a></li>
                            </ul>
                        </div>
                    </li>
    

                    <li>
                            <a href="#" class="menu-item " >مدينة دهــــوك   </a>
                            <div class="uk-navbar-dropdown b">
                                <ul class="uk-nav uk-navbar-dropdown-nav " style="text-align: right ;">
                                    <li><a class="menu-item " href="#">المطاعم</a></li>
                                    
                                    <li><a class="menu-item " href="#">المصايـــف</a></li>
                                    
                                    <li><a class="menu-item " href="#">أماكن الاقامة</a></li>
                                    <li><a class="menu-item " href="#">أشياء للقيام بها</a></li>
                                </ul>
                            </div>
                        </li>


                        <li>
                                <a class="menu-item " href="#" >مدينة السليــمانيــة</a>
                                <div class="uk-navbar-dropdown b  ">
                                    <ul class="uk-nav uk-navbar-dropdown-nav" style="text-align: right ;">
                                        <li><a class="menu-item " href="#">المطاعم</a></li>
                                         <li><a class="menu-item " href="#">المصايـــف</a></li>
                                         <li><a class="menu-item " href="#">أماكن الاقامة</a></li>
                                         <li><a class="menu-item " href="#">أشياء للقيام بها</a></li>
                                    </ul>
                                </div>
                         </li>
                
                


                        <li class="uk-active"><a class="menu-item " href="#">خـطـط لرحـلتــك</a>
                            <div class="uk-navbar-dropdown b  ">
                                <ul class="uk-nav uk-navbar-dropdown-nav" style="text-align: right ;">
                                    <li><a class="menu-item " href="#">متى تسافر</a></li>
                                    <li><a class="menu-item " href="#">كيفية الوصول  </a></li>
                                    <li><a class="menu-item " href="#">كيفية التنقل</a></li>
                                    <li><a class="menu-item " href="#">  </a></li>
                                </ul>
                            </div>
                        
                        </li>
			
			
             


                

           
        </ul>

    </div>
</nav>


</div> -->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="assets\img\logo\34543546.png" style="width:200px; height:100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/">حول كردستان <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link " routerLink="/erbil" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      مدينة اربيل
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" routerLink="/erbil/erbilrestaurant">المطاعم</a>
                      <a class="dropdown-item"  routerLink="/erbil/resorts"> المصايف</a>
                      <a class="dropdown-item" routerLink="/erbil/erbilhotel">الفنادق</a>
                      <a class="dropdown-item" routerLink="/erbil/thingtodoinerbil">أشياء للقيام بها</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                        <a class="nav-link " routerLink="/sulaimaniacity" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          مدينة السليمانية
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" routerLink="/sulaimaniacity/sulaimaniarestuarant">المطاعم</a>
                                <a class="dropdown-item"  routerLink="/sulaimaniacity/sulaimaniyahresorts"> المصايف</a>
                                <a class="dropdown-item" routerLink="/sulaimaniacity/sulaimaniyahhotel">الفنادق</a>
                                <a class="dropdown-item" routerLink="/sulaimaniacity/thingstodoinsulaymaniyah">أشياء للقيام بها</a>
                              </div>
                      </li>
            <li class="nav-item dropdown">
              <a class="nav-link " routerLink="/duhokcity" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                مدينة دهوك
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/duhokcity/duhokrestaurant">المطاعم</a>
                    <a class="dropdown-item"  routerLink="/duhokcity/duhokresorts"> المصايف</a>
                    <a class="dropdown-item" routerLink="/duhokcity/duhokhotel">الفنادق</a>
                    <a class="dropdown-item" routerLink="/duhokcity/thingstodoinduhok">أشياء للقيام بها</a>
                  </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link " routerLink="/planyourtrip" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      خطط لرحلتك
                    </a>
                    <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">متى تسافر</a>
                      <a class="dropdown-item" href="#">كيفية الوصول</a>
                      <a class="dropdown-item" href="#">كيفية التنقل</a>
                    </div> -->
                  </li>
          </ul>
        </div>
      </nav>