<div class="uk-padding">
 
<!-- <img src="assets/img/logo/4f.png" style="text-align:center;"> -->


<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/logo/4f.png');">

</div>
</div>
<div class="uk-padding">
  <div class="container">
    
    <h1 style=" font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Code For Iraq</h1>
    <br>

<p style="text-align:justify;">
  هي مبادرة انسانية غير ربحية تهدف الى خدمة المجتمع عن طريق البرمجة تعتبر هذه المبادرة مبادرة تعليمية حقيقية ترعى المهتمين بتعلم تصميم وبرمجة تطبيقات الهاتف الجوال ومواقع الانترنت وبرامج الحاسوب والشبكات والاتصالات ونظم تشغيل الحاسوب باستخدام التقنيات مفتوحة المصدر كما توفر لهم جميع الدروس التعليمية اللازمة وبشكل مجاني تماما

  بل الاهم من ذلك تعتمد على مبدأ المواطنة والمشاركة الفاعلة في تأسيس وبناء المجتمع , تدعو هذه المبادرة جميع الطلبة والخريجين والهواة والاساتذة الجامعيين  والمهتمين مجال البرمجة وتقنيات المعلومات وكذلك الاختصاصات الاخرى الى التطوع والمشاركة الفعلية لأجل الاوتقاء بواقع البلد , حيث تعتبر فرصة عظيمة لأكتساب الخبرة والمهارة عن طريق تصميم وتنفيذ برامج وتطبيقات خدمية من شأنها خدمة المواطن وذلك ضمن مجاميع عمل نشطة وفعالة يتعاون فيها جميع الافراد كفريق واحد يتبادل الاراء والخبرات ويطرح الافكار لتتم مناقشتها وتطبيقها على ارض الواقع , كما تفتح المجال لجميع المواطنين العراقيين ومن جميع الاختصاصات  الى المشاركة الفاعلة في هذه المشاريع لرفد الفريق بالخبرات  والافكار والاراء والمقترحات التي من شأنها خدمة المجتمع بأفضل ما يمكن .
</p>

<br>

    <h4 style="text-align : center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">   المطور : تمارة طارق الهاشمي </h4>
    
  </div>
</div>


