<div class="uk-padding1">
  <!-- <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/logo/4f.png');">

</div> -->
<img src="assets/img/logo/4f.png" style="text-align:center;">
</div>



<div class="uk-padding">
  <div class="container">
    <h1 style=" font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Code For Iraq</h1>
    <br>
    <h4 style="text-align : center;">   المطور : تمارة طارق الهاشمي </h4>
    
  </div>
</div>


