<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/duhok_img/مصايف دهوك/duhodreortes.jpg');">

  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" > مصايف دهوك  <br><img src="assets/img/line1.png" style="width:210px;"></h1>

</div>

<div class="uk-padding">
  <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
          <div>
                  <div class="uk-card-media-left uk-cover-container">
                          <img src="assets/img/duhok_img/مصايف دهوك/مصيف سرسنك.jpg" alt=""  uk-cover>
                          <canvas width="600" height="480"></canvas>
                  </div>
              <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                  <h3 class="uk-card-title">مصيف سرسنك</h3>
                  <p style="text-align: justify">هي بلدة سياحية تقع عند سفح جبل كاره على مسافة تبعد 50 كم عن مدينة دهوك. و تقع هذه البلدة ضمن سلسلة مناطق سياحية نذكر منها :آشاوا، آنيشكي و سولاف. و تضمّ عددا من الفنادق، الموتيلات، المطاعم و سوقا كبيرا، وتحيطه الجبال الشاهقة المكسوة بالأشجار. يذكر بان الملك فيصل كان قد شيّد فيها قصرا بهدف الإستجمام و الراحة</p>
              </div>
          </div>
          <div>
                  <div class="uk-card-media-left uk-cover-container">
                          <img src="assets\img\duhok_img\مصايف دهوك\مصيف آشاوا.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                          <canvas width="600" height="480"></canvas>
                  </div>
              <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                  <h3 class="uk-card-title">مصيف اشاوا</h3>
                  <p style="text-align: justify">يبعد هذا المصيف مسافة 4 كم عن شرق مصيف سرسنك الذي يقع في القسم الشمالي من سفح جبل كاره . تكتسي هذه المنطقة بالعديد من الأشجار ، و تنحدر منها مياه جارية تؤلف شلالا صغيراً . تم بناء بعض الموتيلات و عدد كبير من الجرادخ او السقيفات لأهداف سياحية ، فضلا عن سد يسهم بتراكم المياه بين مصيفي آشاوه و سرسنك .  </p>
              </div>
          </div>
      </div>
</div>



<div class="uk-padding">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
            <div>
                    <div class="uk-card-media-left uk-cover-container">
                            <img src="assets\img\duhok_img\مصايف دهوك\العمادية.jpg" alt=""  uk-cover>
                            <canvas width="600" height="480"></canvas>
                    </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <h3 class="uk-card-title">العمادية</h3>
                    <p style="text-align: justify">العمادية هي بلدة صغيرة و عتيدة، شيّدت بطريقة مشابهة للقلعة عند قمة جبل شاهق منذ عهد قديم و بتصميم دائري. تبعد العمادية حوالى 90 كم عن شمال شرق مدينة دهوك. هناك عدة اماكن اثرية في العمادية منها، بوابة العمادية القديمة، المنارة الكبيرة، القبة و البوابة الزرادشتية و غيرها. أمّا مدرسة قبهان و مصيف سولاف فيقعان قرب العمادية.</p>
                </div>
            </div>
            <div>
                    <div class="uk-card-media-left uk-cover-container">
                            <img src="assets\img\duhok_img\مصايف دهوك\مصيف سولاف.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                            <canvas width="600" height="480"></canvas>
                    </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <h3 class="uk-card-title">مصيف سولاف</h3>
                    <p style="text-align: justify">يبعد هذا المصيف مسافة 4 كم عن بلدة العمادية، ضمن واد مليء بالأشجار و تجري فيه مياه عذبة أُطلق عليها إسم "سولاف". تنبع من سفح الجبل و تنحدر باتجاه رياض العمادية مكونة ما يشبه الشلال. تم بناء العديد من الفنادق، الموتيلات، الجرادخ لحسن الضيافة و خدمة لراحة الزوار و السياح. </p>
                </div>
            </div>
        </div>
  </div>


  <div class="uk-padding">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
            <div>
                    <div class="uk-card-media-left uk-cover-container">
                            <img src="assets\img\duhok_img\مصايف دهوك\عقرة.jpg" alt=""  uk-cover>
                            <canvas width="600" height="480"></canvas>
                    </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <h3 class="uk-card-title">عقرة</h3>
                    <p style="text-align: justify">عقرة هي بلدة تاريخية تعود الى سنة 580 ق.م.  شيّدها أمير كوردي، يُدعى الأمير زند، على سفوح جبال عدة منها سبيلك، كه لا كه ڤن، كل عقره و كرى توبا. تقع عقرة بين عاصمة الاقليم (أربيل) و مدينة دهوك و على بعد 152 كم شرقا. تحتوي البلدة على العديد من المواقع التاريخية، المعابد، الكهوف و الينابيع المعدنية. يتوجه الكثير من السياح سنويا نحو هذه البلدة و محيطها. ومن المواقع الأثرية التي لاتزال بقاياها شاخصة و شاهدة عليها، نذكر كلا كفن،  كلا عقره، كلا شوش، المعبد الزردشتي، تمثال بوكا جوا، رزى ميرى و غيرها.</p>
                </div>
            </div>
            <div>
                    <div class="uk-card-media-left uk-cover-container">
                            <img src="assets\img\duhok_img\مصايف دهوك\قلعة عقرة.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                            <canvas width="600" height="480"></canvas>
                    </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <h3 class="uk-card-title">قلعة عقرة</h3>
                    <p style="text-align: justify">تقع القلعة في شمال البلدة على جبل شاهق و على ارتفاع 450 م عن سطح الأرض. للقلعة اربعة أعمدة، كل عمود بطول 110 متر، شيّدها الأمير زند سنة 580 قبل الميلاد. تتكوّن القلعة من عدة أقسام: فالطابق العلوي مخصص لإقامة الأمير، الطابق الأوسط مخصص للأرزاق. أما المكان المخصص للاجتماعات فشيّد بشكل دائري، حيث تتوسطه صخرة مفلطحة في الجزء السفلي من القلعة. هذا فضلا عن بئر و غرفة بمدخل شبيه بشكل صقر يطلق عليه تسمية "سجن"، اضافة إلى غرف فسيحة بنيت وفق  أشكال هندسية. تتزود القلعة بالمياه من ينابيع (رزي ميري) وعين باشا عن طريق قاعدة أرخميدس . </p>
                </div>
            </div>
        </div>
  </div>




  <div class="uk-padding">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
            <div>
                    <div class="uk-card-media-left uk-cover-container">
                            <img src="assets\img\duhok_img\مصايف دهوك\شلال سيبه.jpg" alt=""  uk-cover>
                            <canvas width="600" height="480"></canvas>
                    </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <h3 class="uk-card-title">شلال سيبه</h3>
                    <p style="text-align: justify">يقع هذا الشلال وسط "بجيل"،  على بعد  500 م من طريق أربيل - عقرة الرئيسي، و شمال غرب قضاء عقرة و على بعد 13 كم.  نجد هذا المصيف وسط واد  تحيط به بساتين متنوعة من الفاكهة و تكسوه الأشجار المختلفة من الجهات الأربع. أمّا مصادر مياهه فتتشكل من ينابيع عدة تتدفق من الجبال المطلّة عليه و تنحدر لتشكّل في نقطة التلاقي شلال"سيبه  بجيل".</p>
                </div>
            </div>
            <div>
                    <div class="uk-card-media-left uk-cover-container">
                            <img src="assets\img\duhok_img\مصايف دهوك\وادي زنتة.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                            <canvas width="600" height="480"></canvas>
                    </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <h3 class="uk-card-title">وادي زنته</h3>
                    <p style="text-align: justify">يقع هذا الوادي عند حدود بلدة بجيل و شمال قضاء عقرة بحوالى 12 كم ضمن واد سحيق و محاط بجبال شاهقة، حيث يحده من الشرق جبل "سري سادا "، غربا "جبل كويسكي" و يخترقه نهر "بري شو". هذا فضلا عن العديد من الينابيع الباردة و العذبة على طول الوادي التي تصب مياهها في النهر. </p>
                </div>
            </div>
        </div>
  </div>


  <div class="uk-padding">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
            <div>
                    <div class="uk-card-media-left uk-cover-container">
                            <img src="assets\img\duhok_img\مصايف دهوك\شرانش.jpg" alt=""  uk-cover>
                            <canvas width="600" height="480"></canvas>
                    </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <h3 class="uk-card-title">شرانش</h3>
                    <p style="text-align: justify">هي احدى المصايف التابعة لناحية السندي في شمال شرق قضاء زاخو، تتميز بمناظرها الطبيعية الخلابة، لا تتجاوز درجة حرارتها في الصيف (32) درجة مئوية ، يشتهر المصيف بشلاله الرائع و المتدفق مياهه من أعالي جبال خامتير و كيره ، يبلغ ارتفاع الشلال اكثر من 25 م، وتكسو جباله غابات طبيعية كثيفة وعيون مائية عديدة، يبعد المصيف بحوالي (40) كلم عن قضاء زاخو. يوجد بالقرب منه كهف صخري كبير يدعى بكهف بهيري. حيث يقع عند الاجزاء السفلية من جبل شرانش الواقع في الجهة الجنوبية الغربية من مصيف شرانش، يستغرق الوصول اليه من المصيف بنحو نصف ساعة مشياً على الاقدام.</p>
                </div>
            </div>
            <div>
                    <div class="uk-card-media-left uk-cover-container">
                            <img src="assets\img\duhok_img\مصايف دهوك\جسر دلال.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                            <canvas width="600" height="480"></canvas>
                    </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <h3 class="uk-card-title">جسر دلال</h3>
                    <p style="text-align: justify">جسر “دلال” من أبرز المعالم الأثرية والتاريخية في مدينة زاخو ، وقد شهد الجسر الذي يربط بين ضفتي نهر الخابور، غرب المدينة، عبر التاريخ، عبور جيوش وقوافل تجارية وأفواج عديدة، وأصبح صلة وصل بين الأحبة والفرقاء، وبقي شاهداً على الكثير من الأحداث التي جرت في مدينة زاخو. ويبلغ طول الجسر الاجمالي 114 متر وعرضه 4,70 متر ويرتفع عن سطح النهر 15,50 وهو مشيد بالحجارة المنحوتة. يقع هذا الجسر في الجهة الشرقية من مدينة زاخو، ويتألف من قنطرة واسعة وعالية في الوسط وأخرى اصغر منها على جانبيه وعددها خمس قناطر جدرانه شيدت بقطع كبيرة من احجار الكلس المنحوتة ومرصوفة إلى بعضها بنسق جديد ومتداخل ببعضها. </p>
                </div>
            </div>
        </div>
  </div>


  <div class="uk-padding">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
            <div>
                    <div class="uk-card-media-left uk-cover-container">
                            <img src="assets\img\duhok_img\مصايف دهوك\كهف بهيري.jpg" alt=""  uk-cover>
                            <canvas width="600" height="480"></canvas>
                    </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <h3 class="uk-card-title">كهف بهيري</h3>
                    <p style="text-align: justify">هو عبارة عن كهف صخري أثري سياحي كبير له منفذ على شكل قنطرة صخرية وهو دائري الشكل تقريباً، تكونت عبرة ازمنة جيولوجية مختلفة ، توجد في وسط الكهف عين طبيعي يتدفق منها مياه باردة وعذبة بشكل مستمر وعلى مدار السنة، تعد احدى الاماكن السياحية الجميلة و يقع عند الاجزاء السفلية من جبل شرانش الواقع في الجهة الجنوبية الغربية من مصيف شرانش.</p>
                </div>
            </div>
            <div>
                    <div class="uk-card-media-left uk-cover-container">
                            <img src="assets\img\duhok_img\مصايف دهوك\سد دهوك.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                            <canvas width="600" height="480"></canvas>
                    </div>
                <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                    <h3 class="uk-card-title">سد دهوك</h3>
                    <p style="text-align: justify">يبعد هذا الموقع 2 كم شمال مدينة دهوك. ويحتوي - عند الجهة المرتفعة للوادي- على كهف و معبد (جوار ستون)، اي الأعمدة الأربعة . أما في الجهة العليا للوادي فتمّ إنشاء سد بغية تخزين المياه ما كوّن نهرا جميلا و شلالا. هذا فضلا عن انشاء العديد من الأماكن ذات الخدمات السياحية ما يسمح بالتمتع بمناظر الموقع الرائعة. </p>
                </div>
            </div>
        </div>
  </div>