<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/sulaimaniacity/Sulaymaniyahbackground.jpg');">

  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" >مدينة السليمانية<br><img src="assets/img/line1.png" style="width:200px;"></h1>

</div>



<div class="uk-padding" >
  <div><h2 style="text-align: center; padding-top: 20px;">المطاعم<br><img src="assets/img/line1.png" style="width:200px;"></h2></div>

  <div uk-slider="center: true">

    <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid" >
            <li  style="width:350px;">
                <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                    <div class="uk-card-media-top">
                        <img src="assets\img\sulaimaniacity\restuarant suliamani\papacedoslemani.jpg" alt="" style="height: 50%; width: 100%;">
                    </div>
                    <div class="uk-card-body">
                        <p class="uk-card-title"> .Papacedo Rest <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                       
                      
                        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> Malik Mahmood Road 
                        <br>
                        <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/PapacedoSuli/" style="color: black; text-decoration: none; "> Papacedo Slemani</a>
                   
                    </div>
                </div>
            </li>




            <li  style="width:350px;">
                <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                    <div class="uk-card-media-top">
                        <img src="assets\img\sulaimaniacity\restuarant suliamani\Dawa-Restaurant.jpg" alt="" style="height: 50%; width: 100%;">
                    </div>
                    <div class="uk-card-body">
                        <p class="uk-card-title"> Dawa Restaurant <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                       
                      
                        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px"> Sareshnar Street
                        <br>
                        <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Dawa-Restaurant-5-Stars-237943596389457/?rf=177935322276871" style="color: black; text-decoration: none; "> Dawa Restaurant</a>
                   
                    </div>
                </div>
            </li>


            <li  style="width:350px;">
                <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                    <div class="uk-card-media-top">
                        <img src="assets\img\sulaimaniacity\restuarant suliamani\moka.and.more.jpg" alt="" style="height: 50%; width: 100%;">
                    </div>
                    <div class="uk-card-body">
                        <p class="uk-card-title"> Moka & More <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                       
                      
                        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">  .Khak St
                        <br>
                        <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/moka.and.more.sulaimani/" style="color: black; text-decoration: none; "> Moka & More</a>
                   
                    </div>
                </div>
            </li>


            <li  style="width:350px;">
                <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                    <div class="uk-card-media-top">
                        <img src="assets\img\sulaimaniacity\restuarant suliamani\Pronto.jpg" alt="" style="height: 50%; width: 100%;">
                    </div>
                    <div class="uk-card-body">
                        <p class="uk-card-title"> Pronto <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                       
                      
                        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">  Slemani Rand Gallery
                        <br>
                        <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Prontosuly/" style="color: black; text-decoration: none; "> Pronto</a>
                   
                    </div>
                </div>
            </li>



            
            <li  style="width:350px;">
                <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                    <div class="uk-card-media-top">
                        <img src="assets\img\sulaimaniacity\restuarant suliamani\Mangal Restaurant.jpg" alt="" style="height: 310px; width: 100%;">
                    </div>
                    <div class="uk-card-body">
                        <p class="uk-card-title"> .Mangal Rest  <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                       
                      
                        <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">  شكره كه - قلياسان
                        <br>
                        <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/Mangal-Restaurant-%D8%B1%DB%8E%D8%B3%D8%AA%DB%86%D8%B1%D8%A7%D9%86%D8%AA%D9%89-%D9%85%D9%86%D9%82%D9%84-515755385248973/" style="color: black; text-decoration: none; "> Mangal Restaurant </a>
                   
                    </div>
                </div>
            </li>







        </ul>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>

  
  </div>
  <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
</div>
</div>



<!--          -------------------------  المصايف  --------------------------           -->


                                    <!-- مصايف اربيل -->

 <div class="uk-padding" >
    <div><h2 style="text-align: center;">المصايف<br><img src="assets/img/line1.png" style="width:200px;"></h2></div>
<div uk-slider="center: true">
                            
<div class="uk-position-relative uk-visible-toggle uk-light">
                                
        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
        <li>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\مصيف سرجنار.jpg" alt="شلالات كلي علي بك"style="height: 325px; width: 100%;">
                </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">مصيف سرجنار</h3>
                    <p style="text-align: justify;">يبعد  حوالى 5 كلم عن مركز مدينة السليمانية - غربا -  ويخترقه  ينبوع للمياه العذبة  و تكسوه  الاشجار  . يتضمن هذا المصيف مطاعم عصرية ، وسائل للراحة ، أماكن للهو الاطفال ، حوض سباحة ، حديقة للحيوانات. تجدر الإشارة،  إلى أنّ متنزهي نوروز  و جقجق يقعان  في المنطقة ذاتها.</p>
            </div>
            </div>
            </li>
        <li>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\كهف  كونبا.jpg" alt="" style="height: 325px; width: 100%;">
                </div>
                <div class="uk-card-body">
                <h3 class="uk-card-title">كهف  كونبا</h3>
                    <p style="text-align: justify;">يقع هذا الكهف في غرب مدينة دربنديخان في جبل كولان وعلى بعد 8 كم ، ويصدر الكهف هواء مستمر لذلك سمي بهذا الاسم ، وترى مشاهد كريستالية في بعض اجزائها ويتميز بدفئه في الشتاء وبرودته في الصيف حيث يضيف الكهف طبيعة جميلة وملفتة للسواح وزوار المنطقة .</p>
                </div>
            </div>
            </li>
    <li>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\دوكان.jpg" alt="" style="height:325px;width:100%; ">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">دوكان</h3>
                <p style="text-align: justify;">يبعد مصيف و سد و بحيرة دوكان الشهير حوالى 70 كم عن مدينة السليمانية.  تم بناؤه ضمن 16 من المشاريع الخدمية المتنوعة. يتضمن هذا المصيف، الواقع بالقرب من البحيرة و على ضفاف قشقولي المحاذية للبلدة، العديد من الفنادق، المرافق السياحية والمطاعم . </p>
            </div>
        </div>
    </li>
<li>
<div class="uk-card uk-card-default">
    <div class="uk-card-media-top">
        <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\قلعة سارتكه.jpg" alt="" style="width: 100%;height:325px;">
    </div>
    <div class="uk-card-body">
        <h3 class="uk-card-title">قلعة سارتكه</h3>
        <p style="text-align: justify;">تقع هذه  القلعة في منطقة قشقولي  و على الضفة المواجهة  للنهر المتدفق من سد دوكان و بمحاذاة الجسر المشيّد حديثا. تنتصب قلعة سارتكه عند قمة التل المطلّ على النهر و الجرادخ السياحية. ولا تزال تحتفظ ببعض من معالمها، كالغرف و الجدران.</p>
    </div>
</div>
</li>
<li>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\مصيف احمد اوا.jpg" alt=""style="width: 100%;height:325px;">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">مصيف احمد اوا</h3>
            <p style="text-align: justify;">هي إحدى  قرى وادي جافايتي التي  تبعد 65 كلم عن السليمانية. تشتهر المنطقة عموميقع هذا المصيف بمحاذاة بلدة خورمال وعلى بعد 84 كم شرق السليمانية. و اللافت هو تميّزه بثوبه الأخضر الذي يغطيه طيلة فصلي الربيع و الصيف .</p>
        </div>
    </div>
</li>
</ul>

<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>


</div>

<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>



</div>

</div>










 <!--               -------------------مراكز التسوق-----------      -->
    

    
<div class="uk-padding">

        <div><h2 style="text-align: center;">مراكز التسوق<br><img src="assets/img/line1.png" style="width:200px;"></h2></div>


    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="clsActivated: uk-transition-active; center: true">

        <ul class="uk-slider-items uk-grid">
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\Family Mall.jpg" alt="" style="object-fit:cover">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Family Mall</h3>
                        <p class="uk-margin-remove">  Baban St, Sulaymaniyah</p>
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\Majidi Mall Sulaimani.jpg" alt="Majidi Mall">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Majidi Mall</h3>
                        <p class="uk-margin-remove">Sulaimani - Kirkuk Rd</p>
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\City Center Slemani Mall.jpg" alt="City Center Slemani Mall">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">City Center Slemani Mall</h3>
                        <p class="uk-margin-remove">Sarchinar Sub-Road - Sulaymaniyah
                            </p>
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\carrefour.jpg" alt="Tablo mall" style="width: 100%;">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Carrefour</h3>
                        <p class="uk-margin-remove">
                            baban street - Suleimanyah</p>
                    </div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\Rand Gallery.jpg" alt="Majidi Mall"  style="width: 100%;">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                        <h3 class="uk-margin-remove">Rand Gallery</h3>
                        <p class="uk-margin-remove">Salim Street - Sulaymaniyah</p>
                    </div>
                </div>
            </li>
        </ul>
    
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>

    
    </div>
</div>