<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/أربيل.jpg');">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" >مدينة أربيل<br><img src="assets/img/line1.png" style="width:200px;"></h1>

</div>


<div class="uk-padding" >
      
    <div><h2 style="text-align: center; padding-top: 20px;">المطاعم<br><img src="assets/img/line1.png" style="width:200px;"></h2></div>

<div uk-slider="center: true">

        <div class="uk-position-relative uk-visible-toggle uk-light">
    
            <ul class="uk-slider-items uk-child-width-1-2@s uk-grid" >
                <li  style="width:350px;">
                    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                        <div class="uk-card-media-top">
                            <img src="assets/img/تشيللو.jpg" alt="" style="height: 50%; width: 100%;">
                        </div>
                        <div class="uk-card-body">
                            <p class="uk-card-title"> مطعم تشيللو <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                           
                          
                            <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">أربيل - 100m
                            <br>
                            <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/CelloErbil/" style="color: black; text-decoration: none; "> تشيللو</a>
                            
                            
                            

                        </div>
                    </div>
                </li>
                <li  style="width: 350px; height: 200px;">
                    <div class="uk-card uk-card-default"style="background-color:rgb(240, 239, 239);">
                        <div class="uk-card-media-top">
                            <img src="assets/img/داماس.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title"> مطعم داماس <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></h3>
                            
                            <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">شورش
                            <br>
                            <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/gourmetdamas/" style="color: black; text-decoration: none; "> Damas Restaurant</a>
                        </div>
                    </div>
                </li>
                <li  style="width: 350px;">
                    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                        <div class="uk-card-media-top">
                            <img src="assets/img/دامسكينو.jpg" alt="" style="float: center">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Damasquino <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></h3>
                            <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">Ankawa
                            <br>
                            <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/gourmetdamas/" style="color: black; text-decoration: none; "> .Damasquino Rest</a>
                        </div>
                    </div>
                </li>
                <li  style="width:350px;">
                    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                        <div class="uk-card-media-top">
                            <img src="assets/img/خان الوزير.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">مطعم خان الوزير<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></h3>
                            <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">
                            دو سايد بختياري   
                            <br>
                            <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/KhanAlwazerErbil/" style="color: black; text-decoration: none; "> .KhanAlwazer Rest</a>
                        </div>
                    </div>
                </li>
                <li  style="width: 350px;">
                    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                        <div class="uk-card-media-top">
                            <img src="assets/img/الصفدي.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">.Al-Safadi Rest<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></h3>
                            <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">
                            
                            شارع 100    
                            <br>
                            <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/alsafadirestauranterbil/" style="color: black; text-decoration: none; "> .Al-Safadi Rest</a>
                        </div>
                    </div>
                </li>

                <li  style="width: 350px;">
                    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                        <div class="uk-card-media-top">
                            <img src="assets/img/بيتزا هت.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">
                                Pizza Hut
  <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></h3>
                                <img src="assets/img/icons8-marker-filled-50.png" alt="" style="width: 20px">
                            
                               كولان شارع 40   
                                <br>
                                <img src="assets/img/icons8-facebook-circled-filled-500.png" alt="" style="width:20px"><a class="back"  href="https://www.facebook.com/KhanAlwazerErbil/" style="color: black; text-decoration: none; "> .Al-Safadi Rest</a>
                        </div>
                    </div>
                </li>
            </ul>
    
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
    
        </div>
    
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    
    </div>





</div>


                                    <!-- مصايف اربيل -->

<div class="uk-padding" >
      <div><h2 style="text-align: center;">المصايف<br><img src="assets/img/line1.png" style="width:200px;"></h2></div>
    <div uk-slider="center: true">

        <div class="uk-position-relative uk-visible-toggle uk-light">
    
            <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="assets/img/مصيف علي كلي بك 1.jpg" alt="شلالات كلي علي بك"style="height: 325px; width: 100%;">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">شلالات كلي علي بك</h3>
                            <p style="text-align: justify;">شلالات غالي علي تقع في كردستان العراق التي تقع في الجزء الشمالي الجبلي من البلاد في إقليم كردستان، شمال أربيل. شلال غالي علي تبعد 130 كم عن أربيل. هذا الشلال هو المضيف لكثير من الزوار والسياح في جميع أنحاء البلاد.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="assets/img/مصيف جنديان.jpg" alt="" style="height: 325px; width: 100%;">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">مصيف جنديان</h3>
                            <p style="text-align: justify;">يبعد مصيف جنديان مسافة 115 كم عن مدينة أربيل.  ويعتبر مصيف جنديان من المناطق السياحية الرئيسية في المنطقة نظرا لطبيعته الخلابة وكثافـة أشجـاره الطبيعية ومناخه المعتدل طيلة فصل الصيف، فضلا عن المرافق السياحية التي أعدت خصيصا للمصطافين.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="assets/img/مصيف بيخال.jpg" alt="" style="height:325px;width:100%; ">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">شلالات بيخال</h3>
                            <p style="text-align: justify;"> يشكل شلال بيخال مصيفا بحد ذاته و يبعد مسافة 105 كم عن مدينة أربيل. و يتمّ الوصول إليه عبر طريقين: أولهما من فوق شلال گلي علي بك، من خلال تسلق الجبال شرقا. أمّا ثانيهما فيمر عبر قضاء سوران شرقا مـرورا بقضاء رواندز ثمّ انحدارا باتجاه شلال بيخال.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="assets/img/مصيف صلاح الدين.jpg" alt="" style="width: 100%;height:325px;">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">مصيف صلاح الدين</h3>
                            <p style="text-align: justify;">يقع على جبل بيرمام ويتم الوصول اليه بـاربعة عشر دورة حلزونية ويبلغ ارتفاع هذا الجبل 1090 م عن مستوى سطح البجر  ويمتد المصيف في منطقة واسعة تطل على السهل الممتد الى مدينة اربيل من جهة والى جبل سفين من جهة اخرى .</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="assets/img/كهف شانيدار.jpg" alt=""style="width: 100%;height:325px;">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">كهف شاندر</h3>
                            <p style="text-align: justify;">يقع كهف شاندر التاريخي عند سفح جبل برادوست ضمن حدود قضاء ميركه سور و على ارتفـاع 2200  قدم عن مستوى سطـــح البحر. يعتبر هذا الكهف من أكبر الكهوف و أقدمها فـــي العراق، إذ يعود تاريخه الـى العــصر الحجري القديم تقريباً 6000 عاماً ق.م.</p>
                        </div>
                    </div>
                </li>
            </ul>
    
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
    
    
        </div>
    
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    
    </div>
    
    <!--               -------------------مراكز التسوق-----------      -->
    
    </div>
    
    <div class="uk-padding">

            <div><h2 style="text-align: center;">مراكز التسوق<br><img src="assets/img/line1.png" style="width:200px;"></h2></div>


        <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="clsActivated: uk-transition-active; center: true">

            <ul class="uk-slider-items uk-grid">
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/royalmull.jpg" alt="">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Royal Mall</h3>
                            <p class="uk-margin-remove">  شارع 60م - مقابل جامع جليل خياط - 
                                    اربيل.</p>
                        </div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/megamall.jpg" alt="Megamall">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Mega Mall</h3>
                            <p class="uk-margin-remove">أربيل - شارع شورش.</p>
                        </div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/familymall.jpg" alt="Family mall">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Family Mall</h3>
                            <p class="uk-margin-remove">شارع 100م- بالقرب من الصناعة الجنوبية
                                اربيل</p>
                        </div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/tablomall.jpg" alt="Tablo mall" style="width: 100%;">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Tablo Mall</h3>
                            <p class="uk-margin-remove">أرببل - طريق كركوك- بالقرب من ملعب فرنسو حريري
                                اربيل</p>
                        </div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/majidimall.jpg" alt="Majidi Mall"  style="width: 100%;">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Majidi Mall</h3>
                            <p class="uk-margin-remove">أريبل - طريق كسنزان
                                بالقرب من محطة محروقات شير</p>
                        </div>
                    </div>
                </li>
            </ul>
        
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
    
        
        </div>
    </div>

