<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/sulaimaniacity/restuarant suliamani/sulaimani hotel/backgroundhotel.jpg');">

  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" >فنادق السليمانية <br><img src="assets/img/line1.png" style="width:200px;"></h1>

</div>




  <div class="uk-padding">
      <div class="uk-child-width-1-3@m" uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 500; repeat: true">
      
      
          <div>
              <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
                <div class="uk-card-media-top">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Copthorne Hotel Baranan.jpg" alt="" style="height: 50%; width: 100%;">
                </div>
                <div class="uk-card-body">
                    <p class="uk-card-title">Copthorne Baranan <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
                   
                 <div>
                    <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
                 </div>
                 <div>
                    <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
                 </div>
                 <div>
                    <img src="assets/img/erbil-hotel/tea.png" alt="" style="width: 20px;"> Breakfast
                 </div>
                 <div>
                        <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
                     </div>
                    
                    
                 <p uk-margin style="text-align: center">
       
                   <a class="uk-button uk-button-default" href="https://www.booking.com/searchresults.en-gb.html?aid=356938;label=metagha-link-localuniversalIQ-hotel-467822_dev-desktop_los-1_bw-10_dow-Friday_defdate-1_room-0_lang-en_curr-IQD_gstadt-2_rateid-0_aud-0_cid-72;sid=470eea140d00fa85a777dfb9dfac84be;checkin=2018-09-28;checkout=2018-09-29;city=-3103288;highlighted_hotels=467822;hlrd=with_av;keep_landing=1;redirected=1;source=hotel&utm_campaign=IQ&utm_content=los-1_bw-10_dow-Friday_lang-en_curr-IQD_gstadt-2_rateid-0_aud-0_cid-72&utm_medium=localuniversal&utm_source=metagha&utm_term=hotel-467822&"  style="background-color: #6cc7d9">
                        Book A Room</a>
                   
                </p>
 
             </div>
         </div>
      </div>
      





      <div>
          <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
            <div class="uk-card-media-top">
                <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Titanic Hotel & Spa.jpg" alt="" style="height: 50%; width: 100%;">
            </div>
            <div class="uk-card-body">
                <p class="uk-card-title">Titanic Hotel & Spa <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
               
             <div>
                <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
             </div>
             <div>
                <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
             </div>
             <div>
                <img src="assets/img/erbil-hotel/business.png" alt="" style="width: 20px;"> Business Center
             </div>
             <div>
                    <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
                 </div>
                
                
             <p uk-margin style="text-align: center">
   
               <a class="uk-button uk-button-default" href="https://www.booking.com/searchresults.en-gb.html?aid=356938;label=metagha-link-localuniversalIQ-hotel-593593_dev-desktop_los-1_bw-10_dow-Friday_defdate-1_room-0_lang-en_curr-IQD_gstadt-2_rateid-0_aud-0_cid-72;sid=470eea140d00fa85a777dfb9dfac84be;checkin=2018-09-28;checkout=2018-09-29;city=-3103288;highlighted_hotels=593593;hlrd=with_av;keep_landing=1;redirected=1;source=hotel&utm_campaign=IQ&utm_content=los-1_bw-10_dow-Friday_lang-en_curr-IQD_gstadt-2_rateid-0_aud-0_cid-72&utm_medium=localuniversal&utm_source=metagha&utm_term=hotel-593593&"  style="background-color: #6cc7d9">
                    Book A Room</a>
               
            </p>

         </div>
     </div>
  </div>




  <div>
      <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
        <div class="uk-card-media-top">
            <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Dolphin Hotel Sulaymaniyah.jpg" alt="" style="height: 50%; width: 100%;">
        </div>
        <div class="uk-card-body">
            <p class="uk-card-title">Dolphin Hotel <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
           
         <div>
            <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
         </div>
         <div>
            <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
         </div>
         <div>
            <img src="assets/img/erbil-hotel/tea.png" alt="" style="width: 20px;"> Breakfast
         </div>
         <div>
                <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
             </div>
            
            
         <p uk-margin style="text-align: center">

           <a class="uk-button uk-button-default" href="https://www.booking.com/searchresults.en-gb.html?aid=356938;label=metagha-link-localuniversalIQ-hotel-1269408_dev-desktop_los-1_bw-10_dow-Friday_defdate-1_room-0_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72;sid=470eea140d00fa85a777dfb9dfac84be;checkin=2018-09-28;checkout=2018-09-29;city=-3103288;highlighted_hotels=1269408;hlrd=with_av;keep_landing=1;redirected=1;source=hotel&utm_campaign=IQ&utm_content=los-1_bw-10_dow-Friday_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72&utm_medium=localuniversal&utm_source=metagha&utm_term=hotel-1269408&"  style="background-color: #6cc7d9">
                Book A Room</a>
           
        </p>

     </div>
 </div>
</div>






<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Khan Saray.jpg" alt="" style="height: 50%; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Khan Saray Hotel <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
       <div>
          <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
       </div>
       <div>
          <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
       </div>
       <div>
          <img src="assets/img/erbil-hotel/tea.png" alt="" style="width: 20px;"> Breakfast
       </div>
       <div>
              <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.booking.com/searchresults.en-gb.html?aid=356938;label=metagha-link-localuniversalIQ-hotel-2518389_dev-desktop_los-1_bw-10_dow-Friday_defdate-1_room-0_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72;sid=470eea140d00fa85a777dfb9dfac84be;checkin=2018-09-28;checkout=2018-09-29;city=-3103288;highlighted_hotels=2518389;hlrd=with_av;keep_landing=1;redirected=1;source=hotel&utm_campaign=IQ&utm_content=los-1_bw-10_dow-Friday_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72&utm_medium=localuniversal&utm_source=metagha&utm_term=hotel-2518389&"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>






<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Shahram Plaza Hote.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Shahram plaza <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
       <div>
          <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
       </div>
       <div>
          <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
       </div>
       <div>
          <img src="assets/img/erbil-hotel/stroller.png" alt="" style="width: 20px;">   Kid-friendly
       </div>
       <div>
              <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.booking.com/searchresults.en-gb.html?aid=356938;label=metagha-link-localuniversalIQ-hotel-3163099_dev-desktop_los-1_bw-10_dow-Friday_defdate-1_room-0_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72;sid=470eea140d00fa85a777dfb9dfac84be;closed_msg=3163099;dest_id=-3101623;dest_type=city;hlrd=2;redirected=1;source=hotel&"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>







<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Mihrako Hotel.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Mihrako Hotel <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
       <div>
          <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
       </div>
       <div>
          <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
       </div>
       <div>
          <img src="assets/img/erbil-hotel/spa.png" alt="" style="width: 20px;">  Hot tub
       </div>
       <div>
              <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.booking.com/searchresults.en-gb.html?aid=356938;label=metagha-link-localuniversalIQ-hotel-1458152_dev-desktop_los-1_bw-10_dow-Friday_defdate-1_room-0_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72;sid=470eea140d00fa85a777dfb9dfac84be;checkin=2018-09-28;checkout=2018-09-29;city=-3103288;highlighted_hotels=1458152;hlrd=with_av;keep_landing=1;redirected=1;source=hotel&utm_campaign=IQ&utm_content=los-1_bw-10_dow-Friday_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72&utm_medium=localuniversal&utm_source=metagha&utm_term=hotel-1458152&"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>




<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Grand Millennium.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Grand Millennium <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
       <div>
          <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
       </div>
       <div>
          <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
       </div>
       <div>
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\icons8-service-bell-24.png" alt="" style="width: 20px;">   Room service
       </div>
       <div>
              <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.booking.com/searchresults.en-gb.html?aid=356938;label=metagha-link-localuniversalIQ-hotel-1061660_dev-desktop_los-1_bw-10_dow-Friday_defdate-1_room-0_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72;sid=470eea140d00fa85a777dfb9dfac84be;checkin=2018-09-28;checkout=2018-09-29;city=-3103288;highlighted_hotels=1061660;hlrd=with_av;keep_landing=1;redirected=1;source=hotel&utm_campaign=IQ&utm_content=los-1_bw-10_dow-Friday_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72&utm_medium=localuniversal&utm_source=metagha&utm_term=hotel-1061660&"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>







<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\High Crest.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">High Crest <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
       <div>
          <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
       </div>
       <div>
          <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
       </div>
       <div>
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\icons8-service-bell-24.png" alt="" style="width: 20px;">   Room service
       </div>
       <div>
              <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.booking.com/searchresults.en-gb.html?aid=356938;label=metagha-link-localuniversalIQ-hotel-440663_dev-desktop_los-1_bw-10_dow-Friday_defdate-1_room-0_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72;sid=470eea140d00fa85a777dfb9dfac84be;checkin=2018-09-28;checkout=2018-09-29;city=-3103288;highlighted_hotels=440663;hlrd=with_av;keep_landing=1;redirected=1;source=hotel&utm_campaign=IQ&utm_content=los-1_bw-10_dow-Friday_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72&utm_medium=localuniversal&utm_source=metagha&utm_term=hotel-440663&"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>




<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Millennium Hotel.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Millennium Hotel <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
       <div>
          <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
       </div>
       <div>
          <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
       </div>
       <div>
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\icons8-service-bell-24.png" alt="" style="width: 20px;">   Room service
       </div>
       <div>
              <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.booking.com/searchresults.en-gb.html?aid=356938;label=metagha-link-localuniversalIQ-hotel-793652_dev-desktop_los-1_bw-10_dow-Friday_defdate-1_room-0_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72;sid=470eea140d00fa85a777dfb9dfac84be;checkin=2018-09-28;checkout=2018-09-29;city=-3103288;highlighted_hotels=793652;hlrd=with_av;keep_landing=1;redirected=1;source=hotel&utm_campaign=IQ&utm_content=los-1_bw-10_dow-Friday_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72&utm_medium=localuniversal&utm_source=metagha&utm_term=hotel-793652&"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>




<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Ramada Sulaymaniyah.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Ramada Hotel  <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
       <div>
          <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
       </div>
       <div>
          <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
       </div>
       <div>
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\icons8-service-bell-24.png" alt="" style="width: 20px;">   Room service
       </div>
       <div>
              <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.booking.com/hotel/iq/ramada-sulaymaniyah.en-gb.html?aid=357026;label=gog235jc-hotel-XX-iq-ramadaNsulaymaniyah-unspec-iq-com-L%3Aen-O%3AwindowsS7-B%3Achrome-N%3AXX-S%3Abo-U%3AXX-H%3As;sid=470eea140d00fa85a777dfb9dfac84be;dist=0&group_adults=2&keep_landing=1&sb_price_type=total&type=total&"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>




<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Rawaz Hotel.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Rawaz Hotel <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
       <div>
          <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
       </div>
       <div>
          <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
       </div>
       <div>
          <img src="assets/img/erbil-hotel/stroller.png" alt="" style="width: 20px;">   Kid-friendly
       </div>
       <div>
              <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.booking.com/searchresults.en-gb.html?aid=356938;label=metagha-link-localuniversalIQ-hotel-3181048_dev-desktop_los-1_bw-10_dow-Friday_defdate-1_room-0_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72;sid=470eea140d00fa85a777dfb9dfac84be;checkin=2018-09-28;checkout=2018-09-29;city=-3103288;highlighted_hotels=3181048;hlrd=with_av;keep_landing=1;redirected=1;source=hotel&utm_campaign=IQ&utm_content=los-1_bw-10_dow-Friday_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72&utm_medium=localuniversal&utm_source=metagha&utm_term=hotel-3181048&"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>







<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Hotel Halwachy.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Halwachy Hotel <br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
       <div>
          <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
       </div>
       <div>
          <img src="assets\img\erbil-hotel\barbell.png" alt="" style="width: 20px;"> Fitness center
       </div>
       <div>
          <img src="assets/img/erbil-hotel/stroller.png" alt="" style="width: 20px;">   Kid-friendly
       </div>
       <div>
              <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.booking.com/searchresults.en-gb.html?aid=356938;label=metagha-link-localuniversalIQ-hotel-2511327_dev-desktop_los-1_bw-10_dow-Friday_defdate-1_room-0_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72;sid=470eea140d00fa85a777dfb9dfac84be;checkin=2018-09-28;checkout=2018-09-29;city=-3103288;highlighted_hotels=2511327;hlrd=with_av;keep_landing=1;redirected=1;source=hotel&utm_campaign=IQ&utm_content=los-1_bw-10_dow-Friday_lang-en_curr-IQD_gstadt-2_rateid-0_aud-102523374_cid-72&utm_medium=localuniversal&utm_source=metagha&utm_term=hotel-2511327&"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>




<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Babylon Hotel.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Babylon Hotel<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
          <div>
              <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\icons8-service-bell-24.png" alt="" style="width: 20px;">   Room service
           </div>
           <div>
              <img src="assets/img/erbil-hotel/business.png" alt="" style="width: 20px;"> Business Center
           </div>
           <div>
              <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
           </div>
       <div>
              <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.tripadvisor.com/Hotel_Review-g659508-d5408926-Reviews-Babylon_Hotel-Sulaymaniyah_Sulaymaniyah_Province.html"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>





<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Areen hotel.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Areen Hotel<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
          <div>
              <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
           </div>
           <div>
              <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
           </div>
           <div>
              <img src="assets/img/erbil-hotel/stroller.png" alt="" style="width: 20px;">   Kid-friendly
           </div>
           <div>
                  <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.areenhotel.com/page/2/"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>



<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\lasmotel.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Motel Las<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
          <div>
              <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
           </div>
           <div>
              <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
           </div>
           <div>
              <img src="assets/img/erbil-hotel/stroller.png" alt="" style="width: 20px;">   Kid-friendly
           </div>
           <div>
                  <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.booking.com/hotel/iq/motel-las.en-gb.html?aid=357026;label=gog235jc-hotel-XX-iq-motelNlas-unspec-iq-com-L%3Aen-O%3AwindowsS7-B%3Achrome-N%3AXX-S%3Abo-U%3AXX-H%3As;sid=470eea140d00fa85a777dfb9dfac84be;dist=0&group_adults=2&keep_landing=1&sb_price_type=total&type=total&"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>




<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Dawa Hotel.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Dawa Hotel<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
          <div>
              <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\icons8-service-bell-24.png" alt="" style="width: 20px;">   Room service
           </div>
           <div>
              <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
           </div>
           <div>
              <img src="assets/img/erbil-hotel/business.png" alt="" style="width: 20px;"> Business Center
           </div>
           <div>
                  <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.booking.com/hotel/iq/dawa-amp-restaurant.en-gb.html?aid=357026;label=gog235jc-hotel-XX-iq-dawaNampNrestaurant-unspec-iq-com-L%3Aen-O%3AwindowsS7-B%3Achrome-N%3AXX-S%3Abo-U%3AXX-H%3As;sid=470eea140d00fa85a777dfb9dfac84be;dist=0&group_adults=2&keep_landing=1&sb_price_type=total&type=total&"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>





<div>
    <div class="uk-card uk-card-default" style="background-color:rgb(240, 239, 239);">
      <div class="uk-card-media-top">
          <img src="assets\img\sulaimaniacity\restuarant suliamani\sulaimani hotel\Jewahir Motel.jpg" alt="" style="height: 280px; width: 100%;">
      </div>
      <div class="uk-card-body">
          <p class="uk-card-title">Jewahir Motel<br><img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;">  <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"> <img src="assets/img/icons8-star-filled-48.png" alt="" style="width: 20px;"></p>
         
          <div>
              <img src="assets/img/erbil-hotel/washing-machine.png" alt="" style="width: 20px;"> Laundry service
           </div>
           <div>
              <img src="assets/img/erbil-hotel/restaurant.png" alt="" style="width: 20px;"> Restaurant
           </div>
           <div>
              <img src="assets/img/erbil-hotel/stroller.png" alt="" style="width: 20px;">   Kid-friendly
           </div>
           <div>
                  <img src="assets/img/erbil-hotel/wi-fi.png" alt="" style="width: 20px;"> Free wifi
           </div>
          
          
       <p uk-margin style="text-align: center">

         <a class="uk-button uk-button-default" href="https://www.tripadvisor.com/Hotel_Review-g659508-d8766896-Reviews-Jewahir_Motel-Sulaymaniyah_Sulaymaniyah_Province.html"  style="background-color: #6cc7d9">
              Book A Room</a>
         
      </p>

   </div>
</div>
</div>

















































      </div>
  </div>
