<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/sulaimaniacity/restuarant suliamani/suliamani resorts/backgorundresorts.jpg');">

  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" > مصايف السليمانية  <br><img src="assets/img/line1.png" style="width:200px;"></h1>

</div>



<div class="uk-padding">
  <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
    <div>
            <div class="uk-card-media-left uk-cover-container">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\مصيف سرجنار.jpg" alt=""  uk-cover>
                    <canvas width="600" height="480"></canvas>
            </div>
        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
            <h3 class="uk-card-title">مصيف سرجنار</h3>
            <p>يبعد  حوالى 5 كلم عن مركز مدينة السليمانية - غربا -  ويخترقه  ينبوع للمياه العذبة  و تكسوه  الاشجار  . يتضمن هذا المصيف مطاعم عصرية ، وسائل للراحة ، أماكن للهو الاطفال ، حوض سباحة ، حديقة للحيوانات. تجدر الإشارة،  إلى أنّ متنزهي نوروز  و جقجق يقعان  في المنطقة ذاتها. </p>
        </div>
    </div>
    <div>
            <div class="uk-card-media-left uk-cover-container">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\بحيرة و سد دربنديخان.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                    <canvas width="600" height="480"></canvas>
            </div>
        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
            <h3 class="uk-card-title">بحيرة و سد دربنديخان</h3>
            <p>هي من احدى مشاريع الري الجميلة في كوردستان يقع في جنوب شرق مدينة سليماني و شرق مدينة دربنديخان بين جبلين شامخين هما زمناكو و جبل قاشتي ، وهذان الجبلان يقعهن في سلسة جبال. في بداية الخمسينات وضعو الخريطة لبناء هذا السد .</p>
        </div>
    </div>
</div>
</div>






<div class="uk-padding">
  <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
    <div>
            <div class="uk-card-media-left uk-cover-container">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\كهف  كونبا.jpg" alt=""  uk-cover>
                    <canvas width="600" height="480"></canvas>
            </div>
        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
            <h3 class="uk-card-title">كهف  كونبا
            </h3>
            <p>يقع هذا الكهف في غرب مدينة دربنديخان في جبل كولان وعلى بعد 8 كم ، ويصدر الكهف هواء مستمر لذلك سمي بهذا الاسم ، وترى مشاهد كريستالية في بعض اجزائها ويتميز بدفئه في الشتاء وبرودته في الصيف حيث يضيف الكهف طبيعة جميلة وملفتة للسواح وزوار المنطقة . </p>
        </div>
    </div>
    <div>
            <div class="uk-card-media-left uk-cover-container">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\توني بابا.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                    <canvas width="600" height="480"></canvas>
            </div>
        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
            <h3 class="uk-card-title">توني بابا</h3>
            <p>هي من احدى مشاريع الري الجميلة في كوردستان يقع في جنوب شرق مدينة سليماني و شرق مديننفق طويل ، تكون نتيجة عوامل طبيعية يقع جنوب بلدة دربنديخان . فيها مصدر مائي و موقع لافت للنظر ، علماً انه لغاية الان لم يستطع أحد الوصول الى نهاية هذا النفق فهي منطقة مهمة لسياحة المغامرات.</p>
        </div>
    </div>
</div>
</div>



<div class="uk-padding">
  <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
    <div>
            <div class="uk-card-media-left uk-cover-container">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\دوكان.jpg" alt=""  uk-cover>
                    <canvas width="600" height="480"></canvas>
            </div>
        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
            <h3 class="uk-card-title">دوكان
            </h3>
            <p>يبعد مصيف و سد و بحيرة دوكان الشهير حوالى 70 كم عن مدينة السليمانية.  تم بناؤه ضمن 16 من المشاريع الخدمية المتنوعة. يتضمن هذا المصيف، الواقع بالقرب من البحيرة و على ضفاف قشقولي المحاذية للبلدة، العديد من الفنادق، المرافق السياحية، الكابينات العصرية المتنوعة و المطاعم. ويتزايد عدد المرافق السياحية التابعة له سنوياً.</p>
        </div>
    </div>
    <div>
            <div class="uk-card-media-left uk-cover-container">
                    <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\قلعة سارتكه.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                    <canvas width="600" height="480"></canvas>
            </div>
        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
            <h3 class="uk-card-title">قلعة سارتكه</h3>
            <p>تقع هذه  القلعة في منطقة قشقولي  و على الضفة المواجهة  للنهر المتدفق من سد دوكان و بمحاذاة الجسر المشيّد حديثا. تنتصب قلعة سارتكه عند قمة التل المطلّ على النهر و الجرادخ السياحية. لا بدّ من الإشارة بأن هذه القلعة كان قد شيّدها مير محمد، أمير منطقة سوران (1813–1837) ولا تزال تحتفظ ببعض من معالمها، كالغرف و الجدران.</p>
        </div>
    </div>
</div>
</div>







<div class="uk-padding">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
      <div>
              <div class="uk-card-media-left uk-cover-container">
                      <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\مصيف سركلو.jpg" alt=""  uk-cover style="object-fit: cover;">
                      <canvas width="600" height="480"></canvas>
              </div>
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
              <h3 class="uk-card-title">مصيف سركلو
              </h3>
              <p>هي إحدى  قرى وادي جافايتي التي  تبعد 65 كلم عن السليمانية. تشتهر المنطقة عموما بوفرة  البساتين ، الحقول و مصادر المياه، و تتميز  بطبيعتها الخلابة التي تشكل عاملا جاذبا للسياح .</p>
          </div>
      </div>
      <div>
              <div class="uk-card-media-left uk-cover-container">
                      <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\مصيف ميركه بان.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                      <canvas width="600" height="480"></canvas>
              </div>
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
              <h3 class="uk-card-title">مصيف ميركه بان</h3>
              <p>موقع المصيف بين جبلي دابان وبيرمكرون، يتمتع المصيف بطبيعة جميلة وهواء عليل، (ميركه بان) هو في بداية مرحلة تطوره الى مصيف جميل ، ويقصده الاف السياح في فصلي الربيع والصيف وبالذات ايام العطل. </p>
          </div>
      </div>
  </div>
  </div>



  <div class="uk-padding">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
      <div>
              <div class="uk-card-media-left uk-cover-container">
                      <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\مصيف احمد اوا.jpg" alt=""  uk-cover style="object-fit: cover;">
                      <canvas width="600" height="480"></canvas>
              </div>
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
              <h3 class="uk-card-title">مصيف احمد اوا
              </h3>
              <p>هي إحدى  قرى وادي جافايتي التي  تبعد 65 كلم عن السليمانية. تشتهر المنطقة عموميقع هذا المصيف بمحاذاة بلدة خورمال وعلى بعد 84 كم شرق السليمانية. و اللافت هو تميّزه بثوبه الأخضر الذي يغطيه طيلة فصلي الربيع و الصيف، لذلك وصفه كثيرون بالوادي الأخضر الخلّاب الغني بمصادر المياه التي تشكّل نهر "زه لم" المتدفق من وسط الجبل على شكل شلالٍ يتدفق إلى سفح الوادي، ما يضفي جمالا إضافيا.     

            </p>
          </div>
      </div>
      <div>
              <div class="uk-card-media-left uk-cover-container">
                      <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\جم ريزان.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                      <canvas width="600" height="480"></canvas>
              </div>
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
              <h3 class="uk-card-title">جمي رزان</h3>
              <p>تبعد هذه الرقعة الجميلة 57 كم عن غرب السليمانية و 30 كم شمال شرق قضاء دوكان و 17 كم عن طريق سليمانية – مصيف دوكان الرئيسي. تقع" جمي رزان"  في أحضان وادٍ فسيح يخترقه  نهر مكسو بأشجار كثيفة و تحيط بضفتيه أشجار و أعناب. أمّا  في الجهة الشرقية للنهر فيتواجد شلال بافل الذي ينهمر من نقطة مرتفعة. و شيّد أمام الشلال و حوله مصيف رائع وذلك وفقا لتصميم عصري. </p>
          </div>
      </div>
  </div>
  </div>



  <div class="uk-padding">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
      <div>
              <div class="uk-card-media-left uk-cover-container">
                      <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\كهف زرزي.jpg" alt=""  uk-cover style="object-fit: cover;">
                      <canvas width="600" height="480"></canvas>
              </div>
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
              <h3 class="uk-card-title">كهف زرزي
              </h3>
              <p>يقع هذا الكهف قبالة قرية زرزي عند سفح جبل كونكوتر. يتميّز مدخل هذا الكهف بشكله النصف دائري، بعرض و طول  8 م. يعود تاريخه الى العصر الحجري حيث سكنه الإنسان القديم. قامت الباحثة دوروثي كارود في 1928 بالتنقيب في الكهف فاكتشفت العديد من الأدوات الحجرية و بقايا لعظام حيوانات.
            </p>
          </div>
      </div>
      <div>
              <div class="uk-card-media-left uk-cover-container">
                      <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\ميركبان.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                      <canvas width="600" height="480"></canvas>
              </div>
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
              <h3 class="uk-card-title">مصيف ميركبان</h3>
              <p>يعد هذا المكان موقعا سياحيا رائعا حيث يقع خلف جبل بيره مكرون على مسافة تبعد 31 كم عن غرب السليمانية. ويرتاد هذا المكان محبو الثلج خلال فصل الصيف حيث يجمعون الثلج هناك و يبيعونه لأهل القرى المحيطة. و بسبب هبة الجمال الممنوحة لطبيعته، تحوّل اليوم الى مصيف و شيّدت عليه مؤسسات سياحية  . </p>
          </div>
      </div>
  </div>
  </div>



  <div class="uk-padding">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
      <div>
              <div class="uk-card-media-left uk-cover-container">
                      <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\مصيف كردة استيرة.jpg" alt=""  uk-cover style="object-fit: cover;">
                      <canvas width="600" height="480"></canvas>
              </div>
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
              <h3 class="uk-card-title">مصيف كردة استيرة
              </h3>
              <p>تبعد مسافة 8 كم عن ناحية زاراوة و120 كم عن محافظة السيمانية . تعتبر هذه المنطقة سياحية جاذبة للسياح .
            </p>
          </div>
      </div>
      <div>
              <div class="uk-card-media-left uk-cover-container">
                      <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\كونة ماسي.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                      <canvas width="600" height="480"></canvas>
              </div>
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
              <h3 class="uk-card-title">كونة ماسي</h3>
              <p>تقع هذه المنطقة على مساحة تبعد 56 كم عن شمال شرق السليمانية ، 30 كم جنوب منطقة ماوت . هي غنية بالمصادر المائية و محاطة بالمرتفعات ومكسوة بالاشجار ما يشكل عاملا جاذبا للسياح. </p>
          </div>
      </div>
  </div>
  </div>


  <div class="uk-padding">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
      <div>
              <div class="uk-card-media-left uk-cover-container">
                      <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\منتزه بكاو.JPG" alt=""  uk-cover style="object-fit: cover;">
                      <canvas width="600" height="480"></canvas>
              </div>
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
              <h3 class="uk-card-title">منتزه بكاو
              </h3>
              <p>يقع المنتزه في ناحية هيرو على بعد (29)كم من مركز الناحية . منتزه جميل ومساحة مليئة بالورود والزهور ،  وتمتاز  بجو لطيف واشجار منتشرة عليها .
            </p>
          </div>
      </div>
      <div>
              <div class="uk-card-media-left uk-cover-container">
                      <img src="assets\img\sulaimaniacity\restuarant suliamani\suliamani resorts\منحوتة قزقابان.jpg" alt="" uk-cover  style="height: 250px;width: 100%">
                      <canvas width="600" height="480"></canvas>
              </div>
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
              <h3 class="uk-card-title">منحوتة قزقابان</h3>
              <p>تتواجد هذه المنحوتات بمكان يبعد 50 كم غرب السليمانية في وادي نهر ريزان بالقرب من كهف زرزي، و يقع على ارتفاع 7 م من سطح الجبل. يعود تاريخ هذه المنحوتات إلى عهد ملوك مملكة ميديا  حيث تتكون من صالة و ثلاث غرف إضافة إلى ثلاث مقابر مفتوحة، و تماثيل مع عدة رموز و نقوش.

            </p>
          </div>
      </div>
  </div>
  </div>

  <app-footer></app-footer>