<!--   --------------START : VIDEO----------  -->

<div>
    <video uk-video="autoplay: inview">
       
    <source src="assets/img/العراق مدينة السليمانية.mp4" type="video/mp4" width="100%" height="400">
    <p>  </p>
       
</video>
 
</div>



<!--   --------------END : VIDEO----------  -->









 <div style="padding-top: 100px ; margin-left: 50px; margin-right:50px;" >

<div class="uk-child-width-1-3@m" uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 500; repeat: true">
    <div>
        <div class="uk-card uk-card-small uk-card-default" style="background-color:rgba(128, 128, 128, 0.247);border-radius:40px; ">
            <div class="uk-card-media-top" >
                    <img src="assets\img\things to do in erbil\park shar.jpg" alt="" style="height: 250px;width: 100%;border-top-left-radius:40px;border-top-right-radius:40px;">
                    
             </div>
                <div class="uk-card-body">
                        <h3 class="uk-card-title" style="text-align: center;">مدينة اربيل</h3>
                        <p style="text-align:justify;">تعتبر أربيل عاصمة اقلیم کوردستان، وهي من المدن الكبيرة التي تبعد عن بغداد حوالى ٣٥٠ كم و بمساحة تقارب ١٥٢١٤ كم٢  وارتفاع ٤١٨ مترآ عـن مستــوى سطح البحر . تحدها شـرقا محافظة السليمانية،         </p> 
                        <!-- <div style="text-align: center"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target:#offcanvas-push" style="background-color:#6cc7d9;border-radius: 5px ;">المزيد</button></div>  -->
                <div class="kk-utton">
                        <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-close-default"style="background-color:#6cc7d9;border-radius: 5px ;">المزيد</button>
                    </div>
                
                
                
                    </div>


                   

<!-- This is the modal with the default close button -->
<div id="modal-close-default" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">مدينة أربيل</h2>
        <p  style="text-align: justify;">تعتبر أربيل عاصمة اقلیم کوردستان، وهي من المدن الكبيرة التي تبعد عن بغداد حوالى ٣٥٠ كم و بمساحة تقارب ١٥٢١٤ كم٢  وارتفاع ٤١٨ مترآ عـن مستــوى سطح البحر . تحدها شـرقا محافظة السليمانية، ومحافظتا دهوك ونينوى غربا، محافظة كركوك جنوبا، وتركيا وايران شمالا. وهي من أقـدم المدن المأهولة فــي المنطقة و العالم بأسرە، إذ يعود تاريخها إلــى العصور القديمة وتحديدا إلى الألفية السادسة قبل الميلاد . واللافت بأنّ اسم هذه المدينة العريقة ورد في الكثير من الكتابات السومــرية والبابليـة وفقا لتسميات عدة نذكر منها على سبيل المثال: أروبيلم ـ أربيل ـ أروبل ـ أربائيلو.  يُذكر أنّ أربيل كانت  قد اشتهرت منذ القدم بوصفها مــركزا للعبــادة، خاصة لآلهة عشتار. هذا فضلا عن ذكرها من قبل بعض المؤرخين القدامى في كتبهم، الامر الذي ساهم بشكل أو بآخر في الاضاءة على  هـذە المدينة المهمة والتي باتت على مرّ الزمن  محطّ الانظار وموضوعا أساسيا للعديد من اللوحات العالمية الشهيرة و الوثائق التاريخية والأعمال الفنية في أوروبـا، هذا فضلا عن وضع أسس متينة للتعريف بالشرق وكوردستان.</p>
    </div>
</div>
                
        </div>
       
    </div>
    <div>
        <div class="uk-card uk-card-small uk-card-default" style="background-color:rgba(128, 128, 128, 0.247);border-radius:40px; ">
            <div class="uk-card-media-top">
                <img src="assets/img/فندق سايمانية.jpg" alt=""style="height: 250px;width: 100%;border-top-left-radius:40px;border-top-right-radius:40px;">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title" style="text-align: center;" >مدينة السليمانية</h3>
                <p  style="text-align: justify">تعتبر مدينة السليمانية  إحدى المدن الرئيسية في اقليم كوردستان، اذ تتوسط سلسلتي جبال كويزه و كله زرده و تقع شمال العراق على خطي طول٥٠، ٤٤-١٦،٤٦ شرقا وخطي عرض ٠٤،٣٥-٣٠،٣٦ ... </p> 
                   
                   <div class="kk-utton">
                    <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-close-default1"style="background-color:#6cc7d9;border-radius: 5px ;">المزيد</button>
                </div>
                <!-- This is the modal with the default close button -->

            </div>
            <div id="modal-close-default1" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <h2 class="uk-modal-title">مدينة السليمانية</h2>
                    <p  style="text-align: justify;">تعتبر مدينة السليمانية  إحدى المدن الرئيسية في اقليم كوردستان، اذ تتوسط سلسلتي جبال كويزه و كله زرده و تقع شمال العراق على خطي طول٥٠، ٤٤-١٦،٤٦ شرقا وخطي عرض ٠٤،٣٥-٣٠،٣٦ شمالا، أي بمسافة تبعد حوالى ٣٨٥ كم عن عاصمة العراق الاتحادية و  ١٩٨ كم عن أربيل عاصمة الإقليم. أسس هذه المدينة المميزة إبراهيم باشا عام ١٧٨٤م. و يقول المؤرخ  (كلاوديوس جيمس ريج) في هذا الصدد - خلال  أسفاره للمنطقة عام ١٨٢٠م - أنّ مدينة السليمانية و منذ تأسيسها شيّدت فيها الأسواق الكبيرة و الحمامات النظيفة وفقا للطراز الاسطنبولي، وتمتاز بالتطور المستمر في مختلف المرافق الحياتية  فهي تحتوي على العديد من الفنادق، المتنزهات، المطاعم، الأماكن التاريخية و السياحية كالسراي القديم و المتاحف و الأسواق والمولات ( أماكن التسوق الحديثة). تجدر الإشارة، إلى أنّ مدينة السليمانية تعد مركزا مهما  للثقافة و الفنون في كوردستان،  لذلك أطلق عليها تسمية عاصمة الثقافة، وهي تحتضن اليوم العديد من الجامعات، المعاهد الحكومية و الأهلية ذات التخصصات المختلفة إضافة الى الجامعة الأميركية.</p>
                </div>
            </div>
        </div>
       
    </div>
    <div>
        <div class="uk-card uk-card-small uk-card-default" style="background-color:rgba(128, 128, 128, 0.247); border-radius: 40px;">
            <div class="uk-card-media-top">
                <img src="assets/img/مصيف خالةنة.jpg" alt=""style="height: 250px;width: 100%;border-top-left-radius:40px;border-top-right-radius:40px;">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title" style="text-align: center"> مدينة دهوك</h3>
                <p style="text-align: justify;">هي مركز محافظة دهوك، و إحدى مدن إقليم كوردستان الرئيسية التي تقع على خطي طول  ٢٠، ٤٣-١٠.٤٤ شرقا و عرض ٤٠ ٣٦-٢٠،٣٧ شمالا. تقع مدينة دهوك على أرض منبسطة كائنة بين سلسلتي جبال شندوخا من  ...   </p>
                <!-- <div style="text-align: center"><button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target:#offcanvas-push2" style="background-color:#6cc7d9;border-radius: 5px ;">المزيد</button></div>  -->

                <div class="kk-utton">
                    <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-close-default2"style="background-color:#6cc7d9;border-radius: 5px ;">المزيد</button>
                </div>
            </div>

            <div id="modal-close-default2" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <h2 class="uk-modal-title">مدينة دهوك</h2>
                    <p  style="text-align: justify;">هي مركز محافظة دهوك، و إحدى مدن إقليم كوردستان الرئيسية التي تقع على خطي طول  ٢٠، ٤٣-١٠.٤٤ شرقا و عرض ٤٠ ٣٦-٢٠،٣٧ شمالا. تقع مدينة دهوك على أرض منبسطة كائنة بين سلسلتي جبال شندوخا من جهة الجنوب، سلسلة الجبي الأبيض (سبي) من الشمال، جبل مام سين شرقا، و سهل واسع يمتد الى سهول سليفاني غربا. أماّ موقعها فعلى مقربة من الحدود التركية - السورية، حيث يقطنها الكورد، الكلدان، الآشوريون و الأرمن وسط تعايش مشترك و باختلاف الأديان. تمتاز هذه المدينة بمواقع أثرية عديدة من خلال المنحوتات الصخرية و الكهوف، فضلا عن عشرات الفنادق، المطاعم، الموتيلات، المتاحف الأثرية و الفولكلورية و متحف ثقافي للآيزيديين إضافة الى مدن للألعاب، أسواق عصرية، حديقة حيوانات صغيرة. كما تحتضن جامعة دهوك و العديد من المراكز الثقافية،كما تضم  مواقع أثرية عديدة منتشرة في المدينة اضافة الى مواقع سياحية خاصة، مثل قمة جبل زاوا و وادي دهوك.</p>
                </div>
            </div>
        </div>
       

    </div>
  
    
    
</div>
</div>



<div style="padding-top: 100px;margin: 0;">


    <div class="uk-background-fixed uk-background-center-center uk-height-medium" style="background-image: url('assets/img/13.jpg');width: 100%;height: 500px">
<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" >
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" style="color: #000" >
        <h1 style="color: #000">السیاحة المغامراتیة والسفر</h1>
        <img src="assets/img/line1.png" style="width: 300px">
        <p >تعتبرهذه‌ السياحة واحدة من أسرع الأسواق المتنامية في قطاعات صناعة السياحة و بمعدل نمو عالمي يصل الى حوالى  18٪ سنويا. تتضمن هذه السياحة أنشطة اساسية  نذكر منها  مغامرة السفر، المشي لمسافات طويلة، ركوب الدراجات العادیة و الجبلیة، تسلق الجبال، الصخور و الهضاب، التخييم، السباحة و الرياضات المائية و ركوب الخيل. أما ما يساعد على القيام بهذه الرياضات والأنشطة فهو احتواء كوردستان  على الجبال، البحيرات، الأنهار والعجائب الطبيعية الأخرى.</p>
    </div>
</div>
</div>


<div style="padding-top: 50px;margin: 0;">
<div class="uk-padding" >
<div class="uk-card   uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="assets/img/ثقافة.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h2 class="uk-card-title" style="text-align: center;"> السياحة الثقافية<br><img src="assets/img/line1.png" style="width: 150px; "></h2>
            
            <p style="text-align: center;">هذه‌ السیاحة هي واحدة من القطاعات الأسرع نموا بحيث يقدر عدد ممارسیها بحوالي 10٪ من السياح في جميع أنحاء العالم. فزیارة المواقع الأثرية و المعالم الثقافیة يمكن أن يساهم في جعلها واحدة من الفعالیات الرئیسیة في هذا النوع من السیاحة. وبإستطاعة إقلیم کوردستان تقدیم أمور كثير متنوعة وفريدة من نوعها  للسائحین، وذلك لکثرة المواقع الأثریة و لأهميتها التاريخية.</p>
        </div>
    </div>
</div>
</div>
</div>

<div style="padding-top: 30px;margin: 0;">
    <div class="uk-padding"  uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
<div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/شلال كلي شيرانه - عمادية دهوك.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div >
        <div class="uk-card-body" >
            <h2 class="uk-card-title" style="text-align: center;" > السياحة الداخلیة<br><img src="assets/img/line1.png" style="width: 150px; "></h2>
            <p style="text-align: center;">تلعب مکانة إقلیم کوردستان و خصوصیتها المتنوعة الفریدة في المنطقة و خارجها أیضا، دورا مهما في استقطاب  السائحین و الزائرين من جنوب العراق، بلدان الخليج و مناطق أخرى من الشرق الأوسط، بهدف التمتع بمناظر الجبال الشاهقة و الطبیعة  الخلابة، خلال أشهر الصيف الحار. کذلك یرتادون المواقع الدينية، الثقافية و التراثية على مدار العام.</p>
        </div>
    </div>
</div>
</div>
</div>

<div style="padding-top: 50px;margin: 0;">
    
<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('assets/img/مئذنة جولي.JPG');" >
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h1 >السياحة الدينية<br><img src="assets/img/line1.png" style="width: 250px; "></h1>
        <p >يزداد هذا النوع من السیاحة بومآ بعد یوم، نظرا لمکانة و إزدیاد المسائل الدینیة و الروحانیة، لدی المؤمنین و المهتمین بها، کذلك عند المتابعين و الشغوفين بها. تدار هذه‌ السیاحة‌ من قبل الأفراد، الجماعات أو الجهات المختصة. فأرض إقلیم کوردستان هي مهبط الأدیان السماویة، الاسلام، المسیحیة و الیهودیة و کانت و لا تزال منبرا مهما للمذاهب و المعتقدات الأخری.   </p>
    </div>
</div>
</div>

<app-footer></app-footer>

