<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('assets/img/things to do in erbil/thingstodoinerbil.jpg');">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" > أشياء للقيام بها في اربيل <br><img src="assets/img/line1.png" style="width:200px;"></h1>

</div>


 <div class="uk-padding">

            <div><h2 style="text-align: center;">مراكز التسوق<br><img src="assets/img/line1.png" style="width:200px;"></h2></div>


        <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="clsActivated: uk-transition-active; center: true">

            <ul class="uk-slider-items uk-grid">
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/royalmull.jpg" alt="">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Royal Mall</h3>
                            <p class="uk-margin-remove">  شارع 60م - مقابل جامع جليل خياط - 
                                    اربيل.</p>
                        </div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/megamall.jpg" alt="Megamall">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Mega Mall</h3>
                            <p class="uk-margin-remove">أربيل - شارع شورش.</p>
                        </div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/familymall.jpg" alt="Family mall">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Family Mall</h3>
                            <p class="uk-margin-remove">شارع 100م- بالقرب من الصناعة الجنوبية
                                اربيل</p>
                        </div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/tablomall.jpg" alt="Tablo mall" style="width: 100%;">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Tablo Mall</h3>
                            <p class="uk-margin-remove">أرببل - طريق كركوك- بالقرب من ملعب فرنسو حريري
                                اربيل</p>
                        </div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/majidimall.jpg" alt="Majidi Mall"  style="width: 100%;">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Majidi Mall</h3>
                            <p class="uk-margin-remove">أريبل - طريق كسنزان
                                بالقرب من محطة محروقات شير</p>
                        </div>
                    </div>
                </li>


                  <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/things to do in erbil/hawler_mall_1.jpg" alt="Majidi Mall"  style="width: 100%;">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Hawler Mall</h3>
                            <p class="uk-margin-remove">يقع في أربيل بالقرب من الكاراج الشمالي. يتألف من محال تجارية وكافتريات عدة .</p>
                        </div>
                    </div>
                </li>



                  <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="assets/img/things to do in erbil/vana mall.jpg" alt="Majidi Mall"  style="width: 100%;">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Vana Mall</h3>
                            <p class="uk-margin-remove">ي عينكاوة نهاية فرع المنتزه من جهة تقاطع مدخل عينكاوة وبداية فرع المنتزه من جهة شارع دامسكينو والفرع الثاني في عين كاوة الدو سايد بعد محطة تعبئة الوقود الواقع في بداية الشارع المودي الى كنيسة ام النور بعد المحطة </p>
                        </div>
                    </div>
                </li>


                <li class="uk-width-3-4">
                        <div class="uk-panel">
                            <img src="assets/img/things to do in erbil/rhrin mall.jpg" alt="Majidi Mall"  style="width: 100%;">
                            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                <h3 class="uk-margin-remove">Rhein  Mall</h3>
                                <p class="uk-margin-remove">أربيل - شارع الاسكان </p>
                            </div>
                        </div>
                    </li>



                    <li class="uk-width-3-4">
                            <div class="uk-panel">
                                <img src="assets/img/things to do in erbil/sofy mall.jpg" alt="Majidi Mall"  style="width: 100%;">
                                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                    <h3 class="uk-margin-remove">Sofy Mall</h3>
                                    <p class="uk-margin-remove">أربيل - شارع الاسكان </p>
                                </div>
                            </div>
                        </li>

                        
            

                                <li class="uk-width-3-4">
                                        <div class="uk-panel">
                                            <img src="assets/img/things to do in erbil/maxi mall.jpg" alt="Maxi Mall"  >
                                            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                                <h3 class="uk-margin-remove"> Maxi Mall</h3>
                                                <p class="uk-margin-remove">أربيل -  عينكاوة نهاية فرع المنتزه من جهة تقاطع مدخل عينكاوة  </p>
                                            </div>
                                        </div>
                                    </li> 
    
            </ul>
        
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next" style="color: black; border-radius: 50%; background-color: #6cc7d9"></a>
    
        
        </div>
    </div>












<!-- <div class="uk-padding">

        <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
                <div>
                    <div class="uk-overflow-hidden">
                        <img src="assets\img\things to do in erbil\family-fun.jpg" alt="Example image" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
                    </div>
                </div>
                <div>
                        <div class="uk-overflow-hidden">
                            <img src="assets\img\things to do in erbil\majidi land.jpg" alt="Example image" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
                        </div>
                </div>

                <div>
                        <div class="uk-overflow-hidden">
                            <img src="assets\img\things to do in erbil\aqua park.jpg" alt="Example image" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
                        </div>
                </div>
            </div>

    
</div> -->




<div class="uk-padding">

        <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-grid-match uk-grid-small" uk-grid>
                <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                        <img src="assets\img\things to do in erbil\aqua park.jpg" alt="">
                        <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                            <p class="uk-h4 uk-margin-remove">أكوا بارك </p>
                        </div>
                    </div>
                    
                </div>

                <div class="uk-text-center">
                        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\things to do in erbil\majidi land.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove">العاب ماجدي لاند </p>
                            </div>
                        </div>
                        
                </div>

                <div class="uk-text-center">
                        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                <img src="assets\img\things to do in erbil\family-fun.jpg" alt="" style="width: 100%; height: 100%;">
                                <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-h4 uk-margin-remove">العاب فاملي فان </p>
                                </div>
                        </div>
                            
                </div>

            </div>
</div>


<div class="uk-padding">

    <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-grid-match uk-grid-small" uk-grid>
          
            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\things to do in erbil\park almanara.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove">بارك المنارة </p>
                            </div>
                    </div>
                        
            </div>




            <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                        <img src="assets\img\things to do in erbil\erbilerbil.jpg" alt="" style="width: 100%; height: 100%;">
                        <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                            <p class="uk-h4 uk-margin-remove">قلعة أربيل </p>
                        </div>
                </div>
                    
        </div>


        <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <img src="assets\img\things to do in erbil\tilfrik shandar.jpg" alt="" style="width: 100%; height: 100%;">
                    <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                        <p class="uk-h4 uk-margin-remove">تلفريك بارك شاندار </p>
                    </div>
            </div>
                
    </div>

        </div>

</div>



<div class="uk-padding">

    <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-grid-match uk-grid-small" uk-grid>
          
            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\things to do in erbil\قهوة مجكو.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove">قهوة مجكو </p>
                            </div>
                    </div>
                        
            </div>




            <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                        <img src="assets\img\things to do in erbil\shandar.jpg" alt="" style="width: 100%; height: 100%;">
                        <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                            <p class="uk-h4 uk-margin-remove">بارك شاندار</p>
                        </div>
                </div>
                    
        </div>


        <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <img src="assets\img\things to do in erbil\park kulan.jpg" alt="" style="width: 100%; height: 100%;">
                    <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                        <p class="uk-h4 uk-margin-remove"> بارك كولان </p>
                    </div>
            </div>
                
    </div>

        </div>

</div>



<div class="uk-padding">

    <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-grid-match uk-grid-small" uk-grid>
          
            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\things to do in erbil\park sakura.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove">بارك ساكورا </p>
                            </div>
                    </div>
                        
            </div>




            <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                        <img src="assets\img\things to do in erbil\Erbil-joly.JPG" alt="" style="width: 100%; height: 100%;">
                        <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                            <p class="uk-h4 uk-margin-remove">منارة جولي</p>
                        </div>
                </div>
                    
        </div>


        <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <img src="assets\img\things to do in erbil\متحف النسج الكردي.jpg" alt="" style="width: 100%; height: 100%;">
                    <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                        <p class="uk-h4 uk-margin-remove"> متحف النسج الكردي </p>
                    </div>
            </div>
                
    </div>

        </div>

</div>

<div class="uk-padding">

    <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-grid-match uk-grid-small" uk-grid>
          
            <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img src="assets\img\things to do in erbil\nawroz_1_0.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                <p class="uk-h4 uk-margin-remove">عيد نوروز </p>
                            </div>
                    </div>
                        
            </div>




            <div class="uk-text-center">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                        <img src="assets\img\things to do in erbil\متحف التراثي السرياني.jpg" alt="" style="width: 100%; height: 100%;">
                        <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                            <p class="uk-h4 uk-margin-remove">متحف التراثي السرياني</p>
                        </div>
                </div>
                    
        </div>


        <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <img src="assets\img\things to do in erbil\pank.jpg" alt="" style="width: 100%; height: 100%;">
                    <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                        <p class="uk-h4 uk-margin-remove">منتجع بانك السياحي </p>
                    </div>
            </div>
                
    </div>

        </div>

</div>


<app-footer></app-footer>